{% extends 'base.html' %}
{% block title %}About{% endblock title %}

{% block content %}
{% load static %}
<section class="hero position-relative overflow-hidden align-items-center" id="home">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9 text-center">

                <h2 class="text-dark fw-light lh-base mt-5">Sozia Is One Of Best <span class="fw-medium title">Web
                        Design</span> & <span class="fw-medium title">Development</span> Company.</h2>

                <p class="text-muted fs-16">We create digital assets and we're focused on Web Technologies and
                    Design, based on London, United Kingdom. We
                    build creative & professional themes.</p>
                <h5 class="mt-4 fw-normal"> A digital studio crafting <span class="title">beautiful</span>
                    experiences.</h5>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img src="{% static 'images/bg.jpg' %}" alt="about-img" class="img-fluid img-thumbnail mt-5">
            </div>
        </div>
        {% include 'core/includes/reviews.html' %}
        <div class="row text-center">
            <div class="col-lg-12 mt-5">
                <h4 class="fw-semibold border-bottom d-inline-block text-dark pb-3">Meet Our Team</h4>
            </div>
        </div>
        {% include 'core/includes/top_rentors.html' %}
    </div>
</section>
{% include 'core/includes/trust_us.html' %}
{% endblock content %}
