{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% load static %}
{% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h2 class="text-dark fw-light lh-base mt-5">Мы на <span class="title fw-medium">связи</span>
                </h2>
                <p class="fs-16 text-muted mb-0">Если у вас какой-либо вопрос вы можете оформить форму обратной связи</p>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>


<section class="sm-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mt-5">
                <div>
                    <h5 class="text-muted fw-medium fs-14">Электронный адрес</h5>
                    <p class="text-dark fs-16">support.rentplay@yandex.ru</p>
                </div>
                <div class="mt-4">
                    <h5 class="text-muted fw-medium fs-14">Телефон</h5>
                    <p class="text-dark fs-16">+7 987 957 71 30</p>
                </div>
            </div>
            <div class="col-lg-8 mt-5">
                {% include 'includes/check_error.html' %}
                <form method="post" action="{% url 'core:feedback' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-grid gap-2 d-md-block mt-2">
                    <button type="submit" class="btn btn-dark">Отправить письмо</button>
                    </div>
                </form>
            </div>
        </div>
    </div> 
</section>
{% include 'core/includes/trust_us.html' %}
{% endblock content %}
