{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="card mb-3 border-0 nth-shadow">
        <div class="card-body">
            <form method="post" action="{% url 'core:feedback' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-grid gap-2 d-md-block mt-2">
                <button type="submit" class="btn btn-dark">Отправить письмо</button>
             </div>
            </form>
        </div>
    </div>
{% endblock %}