{% extends 'base.html' %}
{% block title %}Сервис по прокату игровых приставок{% endblock %}
{% block content %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-8 fw-normal">Все предложения об аренде от обычных людей</h1>
      <p class="lead fw-normal"><span style="color: gray">Rent</span>play - сервис аренды без залога. Помогаем владельцам и арендаторам находить друг друга и совершать безопасные сделки онлайн.</p>
      <a class="btn btn-outline-primary" href="#">Оставить заявку</a>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
<div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
  <div class="col-md-6 px-0">
    <h1 class="display-6 fst-bold">Как пользоваться сервисом <span style="color: gray">Rent</span>play ?</h1>
    <p class="lead my-3">Вы получаете полный комплект – приставку, геймпад и игры. Нет необходимости тратить время на лишние хлопоты. </p>
    <p class="lead mb-0"><a href="#" class="text-white fw-bold">Об играх можно узнать здесь...</a></p>
  </div>
</div>

<div class="container marketing">

  <div class="row p-5">
    <div class="col-lg-3">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

      <h2 class="fw-normal">Playstation 4 Slim</h2>
      <p>Эконом-вариант</p>
      <p><a class="btn btn-secondary" href="#">Подобрать &raquo;</a></p>
    </div>
    <div class="col-lg-3">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

      <h2 class="fw-normal">Playstation 4 Pro</h2>
      <p>Выбор пользователей</p>
      <p><a class="btn btn-secondary" href="#">Подобрать &raquo;</a></p>
    </div>
    <div class="col-lg-3">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

      <h2 class="fw-normal">Playstation 5</h2>
      <p>Для геймеров</p>
      <p><a class="btn btn-secondary" href="#">Подобрать &raquo;</a></p>
    </div>
    <div class="col-lg-3">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

      <h2 class="fw-normal">XBOX</h2>
      <p>Любителям</p>
      <p><a class="btn btn-secondary" href="#">Подобрать &raquo;</a></p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Проверка <span class="text-muted">пользователей</span></h2>
      <p class="lead">Для безопасной аренды нужны паспортные данные обеих сторон. Мы поощряем такие сделки — когда пользователь оставляет паспортные данные и успешно проходит проверку нашей службой безопасности, ему доступна аренда без залога. Владельцу не о чем беспокоиться — арендатор оставил данные и не исчезнет с вещью. В сообществе нет места мошенникам, мы блокируем подозрительных и недобросовестных пользователей.</p>
    </div>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">Юридическая <span class="text-muted">защита каждой сделки</span></h2>
      <p class="lead">Электронный договор аренды формируется прямо на сайте. Он равноценно защищает интересы обеих сторон, а не только арендодателя — как бывает в устаревших прокатах. Владельцы могут рассчитывать на страховку от порчи и невозврата, когда сделка оформлена и оплачена на сайте. Каждый пользователь — на объективное решение спорных вопросов, где мы выступим в роли независимого арбитра.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Гарантия <span class="text-muted">бронирования и честных условий</span></h2>
      <p class="lead">Оплата сделки на сайте гарантирует арендатору наличие вещи и фиксированную цену — даже если до начала аренды полгода. Если получить вещь не удалось или она не соответствует описанию, деньги за прокат полностью вернутся на карту — без лишних встреч и поездок по городу. А когда владелец принимает оплату здесь, мы даем ему гарантии бронирования — не будет издержек, если сделка сорвется в последний момент.</p>
    </div>
    <div class="col-md-5">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

    </div>
  </div>
  <hr class="featurette-divider">
</div>
{% endblock %}