{% extends 'base.html' %}
{% block title %}Главная страница{% endblock title %}
{% block content %}

<section class="hero position-relative overflow-hidden align-items-center" id="home">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h2 class="text-dark fw-light lh-base mt-5">Это главная страница.<span
                        class="fw-medium title">Сюда</span> запишем какой-нибудь текст. Надо потом придумать...</h2>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <!--Категории-->
        <div class="row justify-content-center">
            <div class="col-lg-12 filters-group-wrap mb-3">
                <div class="filters-group">
                    <ul class="container-filter mb-0 categories-filter list-unstyled filter-options">
                        {% include 'games/tags.html' %} 
                    </ul>
                </div>
            </div>
        </div>
        <!--Категории-->
        {% include 'games/game_list.html' %}
        {% include 'games/includes/menu.html' %}
    </div>
</section>
{% endblock content %}
