{% extends 'base.html' %}
{% block title %}Главная страница{% endblock title %}
{% block content %}

{% include 'core/second_header.html' %}
<section class="section">
    <div class="container">
        {% include 'games/tags.html' %}
        {% include 'games/game_list.html' %}
        <!--end row-->
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mt-5">
                    <a href="#" class="btn btn-primary me-2">More Works <i class="mdi mdi-arrow-right ms-1"></i></a>
                    <a href="#" class="btn btn-primary">Get In Touch <i class="mdi mdi-lifebuoy ms-1"></i></a>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div>
</section>
{% endblock content %}