<!-- Start Title -->
<section class="hero position-relative overflow-hidden align-items-center" id="home">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h2 class="text-dark fw-light lh-base mt-5">Founded and based in <span
                        class="fw-medium title">New York</span>, We are Sozia, a design and branding agency with partners
                    worldwide.</h2>
            </div>
        </div>
    </div>
    <!-- end container -->
</section>
<!-- End Title -->