{% extends 'base.html' %}
{% block title %}Services{% endblock title %}
{% load static %}
{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h2 class="text-dark fw-light lh-base mt-5">We provide a absolute list of <span
                        class="fw-medium title">Superior</span> digital services.</h2>
                <p class="fs-16 text-muted mb-0">Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
                    consequat ipsum, nec sagittis sem nibh id elit. Proin gravida nibh vel velit auctor Aenean
                    sollicitudin, adipisicing elit sed lorem quis bibendum auctor.</p>
            </div>
        </div>
    </div>
</section>
<section class="mt-5">
    <div class="container">

        <div class="row">
            <div class="col-lg-4">
                <div class="service-box">
                    <div class="service-icon text-primary">
                        <i class="pe-7s-leaf"></i>
                    </div>
                    <h4 class="text-uppercase text-dark fw-medium fs-16 mt-4">Branding</h4>

                    <p class="text-muted fs-16">Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum
                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-box">
                    <div class="service-icon text-primary">
                        <i class="pe-7s-helm"></i>
                    </div>
                    <h4 class="text-uppercase text-dark fw-medium fs-16 mt-4">Highly customizable</h4>

                    <p class="text-muted fs-16">Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum
                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat.</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="service-box">
                    <div class="service-icon text-primary">
                        <i class="pe-7s-airplay"></i>
                    </div>
                    <h4 class="text-uppercase text-dark fw-medium fs-16 mt-4">Responsive design</h4>

                    <p class="text-muted fs-16">Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum
                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat.</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="service-box">
                    <div class="service-icon text-primary">
                        <i class="pe-7s-coffee"></i>
                    </div>
                    <h4 class="text-uppercase text-dark fw-medium fs-16 mt-4">User Experience</h4>

                    <p class="text-muted fs-16">Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum
                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat.</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="service-box">
                    <div class="service-icon text-primary">
                        <i class="pe-7s-rocket"></i>
                    </div>
                    <h4 class="text-uppercase text-dark fw-medium fs-16 mt-4">Optimised for speed</h4>

                    <p class="text-muted fs-16">Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum
                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat.</p>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="service-box">
                    <div class="service-icon text-primary">
                        <i class="pe-7s-headphones"></i>
                    </div>
                    <h4 class="text-uppercase text-dark fw-medium fs-16 mt-4">Dedicated support</h4>

                    <p class="text-muted fs-16">Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum
                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'core/trust_us.html' %}
{% endblock %}
