{% load static %}
<div class="row text-center">
    <div class="col-lg-3 mt-4">
        <div class="team-box">
            <a href="work-detail.html">
                <img src="{% static 'images/team/team-1.jpg' %}" class="img-fluid rounded" alt="">
            </a>
            <h5 class="text-dark mt-3 fs-16">Hubert Brandt</h5>
            <p class="text-muted">CEO/Founder</p>
        </div>
    </div>
    <div class="col-lg-3 mt-4">
        <div class="team-box">                        
            <a href="work-detail.html">
                <img src="{% static 'images/team/team-2.jpg' %}" class="img-fluid rounded" alt="">
            </a>
            <h5 class="text-dark mt-3 fs-16">Andrew Sparks</h5>
            <p class="text-muted">CTO/Co-Founder</p>
        </div>
    </div>
    <div class="col-lg-3 mt-4">
        <div class="team-box">
            <a href="work-detail.html">
                <img src="{% static 'images/team/team-3.jpg' %}" class="img-fluid rounded" alt="">
            </a>
            <h5 class="text-dark mt-3 fs-16">David Downs</h5>
            <p class="text-muted">Web Designer</p>
        </div>
    </div>
    <div class="col-lg-3 mt-4">
        <div class="team-box">
            <a href="work-detail.html">
                <img src="{% static 'images/team/team-4.jpg' %}" class="img-fluid rounded" alt="">
            </a>
            <h5 class="text-dark mt-3 fs-16">Jennifer Pak</h5>
            <p class="text-muted">Manager</p>
        </div>
    </div>
</div>