{% load static %}
<section class="client-section mt-4 section">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-5">
                <h4 class="fw-semibold border-bottom d-inline-block text-dark pb-3">Trusted by Thousands</h4>
            </div>
        </div>

        <div class="row justify-content-between">
            <div class="col-md-auto col-12 mt-3 py-lg-0 py-3">
                <div class="client-box">
                    <img src="{% static 'images/brand/brand-1.png' %}" class="mx-auto d-block img-fluid" alt="client-logo" />
                </div>
            </div>
            <div class="col-md-auto col-12 mt-3 py-lg-0 py-3">
                <div class="client-box">
                    <img src="{% static 'images/brand/brand-2.png' %}" class="mx-auto d-block img-fluid" alt="client-logo" />
                </div>
            </div>
            <div class="col-md-auto col-12 mt-3 py-lg-0 py-3">
                <div class="client-box">
                    <img src="{% static 'images/brand/brand-3.png' %}" class="mx-auto d-block img-fluid" alt="client-logo" />
                </div>
            </div>
            <div class="col-md-auto col-12 mt-3 py-lg-0 py-3">
                <div class="client-box">
                    <img src="{% static 'images/brand/brand-4.png' %}" class="mx-auto d-block img-fluid" alt="client-logo" />
                </div>
            </div>
            <div class="col-md-auto col-12 mt-3 py-lg-0 py-3">
                <div class="client-box">
                    <img src="{% static 'images/brand/brand-5.png' %}" class="mx-auto d-block img-fluid" alt="client-logo" />
                </div>
            </div>
        </div>
    </div>
</section>