{% load static %}
<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="game-item">
            <img src="{% static 'img/games/1.jpg' %}" alt="#">
            <h5>Zombie Appocalipse 2</h5>
            <a href="{% url 'core:game_id' %}" class="read-more">Read More  <img src="{% static 'img/icons/double-arrow.png' %}" alt="#"/></a>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="game-item">
            <img src="{% static 'img/games/2.jpg' %}" alt="#">
            <h5>Dooms Day</h5>
            <a href="{% url 'core:game_id' %}" class="read-more">Read More  <img src="{% static 'img/icons/double-arrow.png' %}" alt="#"/></a>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="game-item">
            <img src="{% static 'img/games/3.jpg' %}" alt="#">
            <h5>The Huricane</h5>
            <a href="{% url 'core:game_id' %}" class="read-more">Read More  <img src="{% static 'img/icons/double-arrow.png' %}" alt="#"/></a>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="game-item">
            <img src="{% static 'img/games/4.jpg' %}" alt="#">
            <h5>Star Wars</h5>
            <a href="{% url 'core:game_id' %}" class="read-more">Read More  <img src="{% static 'img/icons/double-arrow.png' %}" alt="#"/></a>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="game-item">
            <img src="{% static 'img/games/5.jpg' %}" alt="#">
            <h5>Candy land</h5>
            <a href="{% url 'core:game_id' %}" class="read-more">Read More  <img src="{% static 'img/icons/double-arrow.png' %}" alt="#"/></a>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="game-item">
            <img src="{% static 'img/games/6.jpg' %}" alt="#">
            <h5>E.T.</h5>
            <a href="{% url 'core:game_id' %}" class="read-more">Read More  <img src="{% static 'img/icons/double-arrow.png' %}" alt="#"/></a>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="game-item">
            <img src="{% static 'img/games/7.jpg' %}" alt="#">
            <h5>Zombie Appocalipse 2</h5>
            <a href="{% url 'core:game_id' %}" class="read-more">Read More  <img src="{% static 'img/icons/double-arrow.png' %}" alt="#"/></a>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="game-item">
            <img src="{% static 'img/games/8.jpg' %}" alt="#">
            <h5>Dooms Day</h5>
            <a href="{% url 'core:game_id' %}" class="read-more">Read More  <img src="{% static 'img/icons/double-arrow.png' %}" alt="#"/></a>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="game-item">
            <img src="{% static 'img/games/9.jpg' %}" alt="#">
            <h5>The Huricane</h5>
            <a href="{% url 'core:game_id' %}" class="read-more">Read More  <img src="{% static 'img/icons/double-arrow.png' %}" alt="#"/></a>
        </div>
    </div>
</div>