{% extends 'base.html' %}
{% block title %}Игры{% endblock %}
{% block content %}
{% include 'games/game_header.html' %}
<section class="games-section">
	<div class="container">
		{% include 'games/game_filter.html' %}
		<div class="row">
			<div class="col-xl-7 col-lg-8 col-md-7">
				{% include 'games/game_list.html' %}
				{% include 'includes/paginator.html' %}
			</div>
			<div class="col-xl-3 col-lg-4 col-md-5 sidebar game-page-sideber">
				<div id="stickySidebar">
					{% include 'games/game_categories.html' %}
					{% include 'games/game_platform.html' %}
					{% include 'games/game_genre.html' %}
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
