<div class="row justify-content-center">
    <div class="col-lg-12 filters-group-wrap mb-3">
        <div class="filters-group">
            <ul class="container-filter mb-0 categories-filter list-unstyled filter-options">
                <li class="list-inline-item categories position-relative active my-sm-0 my-2"
                    data-group="all"><a href="#">All</a></li>
                <li class="list-inline-item categories position-relative my-sm-0 my-2 "
                    data-group="branding"><a class="" href="#">Branding</a></li>
                <li class="list-inline-item categories position-relative my-sm-0 my-2"
                    data-group="designing"><a href="#">Designing</a></li>
                <li class="list-inline-item categories position-relative my-sm-0 my-2"
                    data-group="photography"><a href="#">Photography</a></li>
                <li class="list-inline-item categories position-relative my-sm-0 my-2"
                    data-group="development"><a href="#">Development</a></li>
            </ul>
        </div>
    </div>
    <!--end col-->
</div>