{% extends "base.html" %}
{% block title %}Восстановление пароля{% endblock %}
{% block content %}
<section>
  <div class="container">
    <div class="row justify-content-md-center w-100 m-auto">
      <div class="col-6">
        <h2 class="text-dark fw-light lh-base mt-4 text-center">Введите новый пароль</h2>
        {% include 'includes/check_error.html' %}
        <form id="passwordResetConfirmForm" method="POST" action="{% url 'core:password_reset_confirm' %}">
          {% csrf_token %}
          {% include 'includes/cycle_forms.html' %}
          <div class="d-flex justify-content-center">
            <button type="submit" name="passwordResetConfirmSubmit" class="btn btn-default btn-primary my-3 col-4">
              Назначить новый пароль
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% include 'includes/marketing.html' %}
{% endblock %}