{% extends "base.html" %}
{% block title %}Восстановление пароля{% endblock %}
{% block content %}
<section>
    <div class="container">
      <div class="row justify-content-md-center w-100 m-auto">
        <div class="col-6">
          <h2 class="text-dark fw-light lh-base mt-4 text-center">Восстановление пароля</h2>
          {% include 'includes/check_error.html' %}
          <form id="passwordResetForm" method="POST" action="{% url 'core:reset_password' %}">
            {% csrf_token %}
            {% include 'includes/cycle_forms.html' %}
            <div class="d-flex justify-content-center">
              <button type="submit" name="passwordResetFormSubmit" class="btn btn-default btn-primary my-3 col-4">
                Сбросить пароль
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% include 'includes/marketing.html' %}
{% endblock %}