<div class="mt-5">
  <div class="sd-title mt-4">
      <h6 class="border-bottom pb-3 mb-0">Polular Post</h6>
  </div>
  <ul class="list-unstyled my-4">
      {% include 'blog/includes/popular_post.html' %}
      {% include 'blog/includes/popular_post.html' %}
      {% include 'blog/includes/popular_post.html' %}
  </ul>
</div>
<div class="mt-5">
  <div class="sd-title mt-4">
    <h6 class="border-bottom pb-3 mb-0">Polular Games</h6>
  </div>
    <ul class="list-unstyled my-4">
      {% include 'blog/includes/popular_post.html' %}
      {% include 'blog/includes/popular_post.html' %}
      {% include 'blog/includes/popular_post.html' %}
    </ul>
</div>
<div class="mt-5">
  <div class="sd-title mt-4">
      <h6 class="border-bottom pb-3 mb-0">Polular Console</h6>
  </div>
  <ul class="list-unstyled my-4">
      {% include 'blog/includes/popular_post.html' %}
      {% include 'blog/includes/popular_post.html' %}
      {% include 'blog/includes/popular_post.html' %}
  </ul>
</div>
