{% load static %}
<footer class="footer">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="text-center">
                  <a href="index.html" class="footer-logo d-inline-block py-4">
                      <img src="{% static 'images/logo-light.png' %}" class="mx-auto logo-dark" alt="" height="24" />
                  </a>

                  <ul class="list-inline social-circle mt-3">
                      <li class="list-inline-item"><a href="javascript:void(0)"> <i class="mdi mdi-facebook"></i>
                          </a></li>
                      <li class="list-inline-item"><a href="javascript:void(0)"> <i class="mdi mdi-twitter"></i>
                          </a></li>
                      <li class="list-inline-item"><a href="javascript:void(0)"> <i
                                  class="mdi mdi-google-plus"></i> </a></li>
                      <li class="list-inline-item"><a href="javascript:void(0)"> <i class="mdi mdi-apple"></i>
                          </a></li>
                      <li class="list-inline-item"><a href="javascript:void(0)"> <i class="mdi mdi-instagram"></i>
                          </a></li>
                  </ul>
                  <!-- end ul -->
                  <div class="text-white-50 pb-4">
                      <script>document.write(new Date().getFullYear())</script> &copy; EndGame by <a
                          class="text-white-50 text-decoration-underline" target="_blank" href="#">EvgVol</a>
                  </div>

              </div>
          </div><!-- end col -->
      </div>
      <!-- end row -->
  </div>
</footer>
