{% load static %}
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <a href="#" class="footer-logo d-inline-block py-4">
                        <img src="{% static 'images/logo-light.png' %}" class="mx-auto logo-dark" alt="" height="24" />
                    </a>
                    {% include 'includes/social-network.html' %}
                    <div class="text-white-50 pb-4">
                        <script>document.write(new Date().getFullYear())</script> &copy; Developer by <a
                            class="text-white-50 text-decoration-underline" target="_blank" href="https://github.com/EvgVol">EvgVol</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>