{% load static %}
<nav class="navbar navbar-expand-lg fixed-top sticky mx-auto" id="navbar">
    <div class="container">
        <a href="{% url 'core:index' %}" class="navbar-brand me-4">
            <img src="{% static 'images/logo-light.png' %}" class="logo-light" alt="" height="22" />
            <img src="{% static 'images/logo-dark.png' %}" class="logo-dark" alt="" height="22" />
        </a>

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link sub-menu-item" href="{% url 'core:index' %}">Главная</a></li>
                <li class="nav-item"><a class="nav-link sub-menu-item" href="{% url 'core:about' %}">О сервисе</a></li>
                <li class="nav-item"><a class="nav-link sub-menu-item" href="{% url 'core:consoles' %}">Консоли</a></li>
                <li class="nav-item"><a class="nav-link sub-menu-item" href="{% url 'core:games' %}">Игры</a></li>
                <li class="nav-item"><a class="nav-link sub-menu-item" href="{% url 'core:blog' %}">Блог</a></li>
                <li class="nav-item"><a class="nav-link sub-menu-item" href="{% url 'core:contacts' %}">Связаться</a></li>
                <li class="nav-item"><a class="nav-link sub-menu-item "> </a></li>
                {% if user.is_authenticated %}
                <div class="dropdown d-inline">
                    <button class="btn btn-primary rounded-circle dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% static 'images/user-1.png' %}" class="testi-user rounded-circle img-thumbnail" alt="testimonials-user" style="width: 50px; height: 50px;">
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="{% url 'core:profile' %}">Профиль</a></li>
                        <li><a class="dropdown-item" href="#">Избранное</a></li>
                        <li><a class="dropdown-item" href="#">Мои подписки</a></li>
                        <li><a class="dropdown-item" href="#">Мои заказы</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Настройки</a></li>
                        <li><a class="dropdown-item" href="#">Справка и обратная связь</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modalLogOut">Выйти</a></li>
                    </ul>
                </div>
                {% else %}
                <li class="nav-item"><a class="nav-link sub-menu-item fw-light" href="{% url 'core:signup' %}">Регистрация</a></li>
                <li class="nav-item"><a class="nav-link sub-menu-item fw-lighter" href="{% url 'core:login' %}">Войти</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% include 'users/exit_confirmation.html' %}
