{% load static %}
<header class="header-section">
  <div class="header-warp">
    <div class="header-social d-flex justify-content-end">
      <p>Мы на связи:</p>
      {% include 'includes/social_contacts.html' %}
    </div>
    <div class="header-bar-warp d-flex">
      <a href={% url 'core:index' %} class="site-logo">
        <img src={% static 'img/logo.png' %} alt="">
      </a>
      <nav class="top-nav-area w-100">
        <div class="user-panel">
          <a href="#">Войти</a> / <a href="#">Регистрация</a>
        </div>
        <ul class="main-menu primary-menu">
          <li><a href={% url 'core:index' %}>Главная</a></li>
          <li><a href={% url 'core:consoles' %}>Приставки</a>
            {% include 'includes/categories.html' %}
          </li>
          <li><a href={% url 'core:games' %}>Игры</a>
            {% include 'includes/tags.html' %}
          </li>
          <li><a href="{% url 'core:blog' %}">Блог</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
