{% load static %}
<div id="style-switcher" onclick="toggleSwitcher()">
    <div>
        <h3>Select Your Color</h3>
        <ul class="pattern">
            <li>
                <a class="color1" href="javascript: void(0);" onclick="setColor('default')"></a>
            </li>
            <li>
                <a class="color2" href="javascript: void(0);" onclick="setColor('success')"></a>
            </li>
            <li>
                <a class="color3" href="javascript: void(0);" onclick="setColor('warning')"></a>
            </li>
            <li>
                <a class="color4" href="javascript: void(0);" onclick="setColor('danger')"></a>
            </li>
            <li>
                <a class="color5" href="javascript: void(0);" onclick="setColor('info')"></a>
            </li>
            <li>
                <a class="color6" href="javascript: void(0);" onclick="setColor('amber')"></a>
            </li>
        </ul>
    </div>
    <div class="bottom">
        <a href="javascript: void(0);" class="settings rounded-end text-light"><i data-feather="droplet"></i></a>
    </div>
</div>