{% extends 'base.html' %}
{% block title %}Последние обновления на сайте{% endblock title %}
{% block content %}
{% load static %}

{% include 'blog/includes/header.html' %}
<section class="mt-4 pt-2">
	<a href="{% url 'core:new_post' %}" id="mode" data-class="light" class="text-white rounded-end mode-btn">
		<i class="mode-dark mx-auto" data-feather="file-plus"></i>
	</a>
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="row">
					{% for post in object_list %}
						{% include 'blog/includes/post.html' %}
					{% endfor %}
				</div>
				{% include 'blog/includes/paginator.html' %}
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="sidebar ms-3">
					{% include 'blog/includes/search.html' %}
					<div>
						<div class="sd-title mt-4">
							<h6 class="border-bottom pb-3 mb-0">Жанры</h6>
						</div>
						<div class="ms-3 my-3">
							{% for genre in genres %}
								{% include 'blog/includes/category.html' %}
							{% endfor %}
							
						</div>
					</div>

					<div class="mt-5">
						<div class="sd-title mt-4">
							<h6 class="border-bottom pb-3 mb-0">Популярные игры</h6>
						</div>
						<ul class="list-unstyled my-4">
							{% include 'blog/includes/popular_post.html' %}
							{% include 'blog/includes/popular_post.html' %}
							{% include 'blog/includes/popular_post.html' %}
						</ul>
					</div>

					<div class="mt-5">
						<a href="#"><img class="img-fluid" src="{% static 'images/add.jpg' %}" alt="" /></a>
					</div>

					<div class="mt-5">
						<div class="sd-title mt-4">
							<h6 class="border-bottom pb-3 mb-0">Archives</h6>
						</div>
						<ul class="list-unstyled my-4">
							{% include 'blog/includes/archive.html' %}

						</ul>
					</div>

					<div class="mt-5">
						<div class="sd-title mt-4">
							<h6 class="border-bottom pb-3 mb-0">Теги</h6>
						</div>
						<div class="tagcloud py-4">
							{% for tag in tags %}
								{% include 'blog/includes/tag.html' %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% if user.is_authenticated %}
	<div id="style-switcher" onclick="toggleSwitcher()">
		<div>
			<h3>Избранные</h3>
			<ul class="pattern">
					<li>
						<a href="#"><i data-feather="users" class="text-primary me-2"></i></a>
					</li>
					<li>
						<a href="#"><i data-feather="bookmark" class="text-primary me-2"></i></a>
					</li>
					<li>
						<a href="#"><i data-feather="star" class="text-primary me-2"></i></a>
					</li>
			</ul>
		</div>
		<div class="bottom">
			<a href="#" class="settings rounded-end text-light"><i data-feather="heart"></i></a>
		</div>
	</div>
	{% endif %}
</section>

{% include 'core/includes/trust_us.html' %}
{% endblock content %}