{% load static %}
<div class="widget-item">
  <h4 class="widget-title">Trending</h4>
  <div class="trending-widget">
    <div class="tw-item">
      <div class="tw-thumb">
        <img src="{% static './img/blog-widget/1.jpg' %}" alt="#">
      </div>
      <div class="tw-text">
        <div class="tw-meta">11.11.18  /  in <a href="">Games</a></div>
        <h5>The best online game is out now!</h5>
      </div>
    </div>
    <div class="tw-item">
      <div class="tw-thumb">
        <img src="{% static './img/blog-widget/2.jpg' %}" alt="#">
      </div>
      <div class="tw-text">
        <div class="tw-meta">11.11.18  /  in <a href="">Games</a></div>
        <h5>The best online game is out now!</h5>
      </div>
    </div>
    <div class="tw-item">
      <div class="tw-thumb">
        <img src="{% static './img/blog-widget/3.jpg' %}" alt="#">
      </div>
      <div class="tw-text">
        <div class="tw-meta">11.11.18  /  in <a href="">Games</a></div>
        <h5>The best online game is out now!</h5>
      </div>
    </div>
    <div class="tw-item">
      <div class="tw-thumb">
        <img src="{% static './img/blog-widget/4.jpg' %}" alt="#">
      </div>
      <div class="tw-text">
        <div class="tw-meta">11.11.18  /  in <a href="">Games</a></div>
        <h5>The best online game is out now!</h5>
      </div>
    </div>
  </div>
</div>
