{% extends 'base.html' %}
{% block title %}Single Post{% endblock title %}
{% block content %}
{% load static %}
<section class="sm-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <article class="post position-relative">
          {% include 'blog/includes/post_detail.html' %}
          <h6 class="fs-22 fw-semibold border-bottom pb-3 mt-5">Комментарии</h6>
          {% include 'blog/includes/comment.html' %}
          {% include 'blog/includes/comment.html' %}
          {% if user.is_authenticated %}
          <h6 class="fs-22 fw-semibold border-bottom pb-3 mt-5">Отставить комментарий</h6>
            {% include 'blog/includes/post-comment.html' %}
          {% endif %}
          
        </article>

      </div>
        <div class="col-lg-4 col-md-6">
          <div class="sidebar ms-3">
              {% load thumbnail %}
              {% thumbnail post.game.image "296x173" crop="center" as im %}
              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
              {% endthumbnail %}

              <div>
                <div class="sd-title mt-4">
                  <h6 class="border-bottom pb-3 mb-0">{{ post.game.name }}</h6>
                </div>
                <p class="mx-3 my-3 text-muted">
                  {{ post.game.description }}
                </p>
              </div>
        </div>
    </div>
  </div>
</section>
{% if user.username == post.author.username %}
	<div id="style-switcher" onclick="toggleSwitcher()">
		<div>
      <h3>Настройки</h3>
      <ul class="pattern">
        <li>
            <a href="{% url 'core:post_edit' pk=post.id %}"><i data-feather="edit-3" class="text-primary me-2"></i></a>
        </li>
        <li>
            <a href="#"><i data-feather="eye-off" class="text-primary me-2"></i></a>
        </li>
        <li>
            <a href="{% url 'core:post_delete' pk=post.id %}"><i data-feather="trash" class="text-primary me-2" ></i></a>
        </li>
      </ul>
		</div>
		<div class="bottom">
				<a href="#" class="settings rounded-end text-light"><i data-feather="settings"></i></a>
		</div>
	</div>
	{% endif %}
{% endblock content %}
