{% extends "base.html" %}
{% block title %}Пароль отправлен{% endblock %}
{% block content %}
<section>
  <div class="container">
    <div class="d-flex align-items-center justify-content-center">
        <div class="row justify-content-md-center w-300 m-auto">
          <div class="alert alert-success text-center" role="alert">
            <h4 class="alert-heading text-start">Отправлено письмо</h4>
            <p>Проверьте свою почту, вам должно прийти письмо со ссылкой для восстановления пароля</p>
          </div>
        </div>
      </div>
  </div>
</section>
{% include 'includes/marketing.html' %}
{% endblock %}