<div class="modal fade" id="modalPasswordChange" tabindex="-1" aria-labelledby="modalPasswordChangeLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalPasswordChangeLabel">Восстановление пароля</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modalPasswordChangeContent">
        Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам инструкцию, как установить новый пароль.
      </div>
      <form id="passwordChangeForm" method="POST" action="{% url 'core:password_reset_done' %}">
        {% csrf_token %}
        
        {% comment %} <div class="modal-footer d-flex justify-content-center">
          <button type="submit" name="passwordChangeSubmit" class="btn btn-default btn-primary my-3 col-4">
              Сбросить пароль
          </button>
        </div> {% endcomment %}
      </form>
      
    </div>
  </div>
</div>


{% comment %} {% extends "base.html" %}
{% block title %}Сброс пароля{% endblock %}
{% block content %}
<section>
  <div class="container">
    <div class="row justify-content-md-center w-100 m-auto">
      <div class="col-6">
        <h2 class="text-dark fw-light lh-base mt-4 text-center">Сброс пароля</h2>
        <p>Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались</p>
        {% include 'includes/check_error.html' %}
        <form id="passwordChangeForm" method="POST" action="{% url 'core:password_reset_done' %}">
          {% csrf_token %}
          {% include 'includes/cycle_forms.html' %}
          <div class="d-flex justify-content-center">
            <button type="submit" name="loginSubmit" class="btn btn-default btn-primary my-3 col-4">
                Сбросить пароль
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% include 'includes/marketing.html' %}
{% endblock %} {% endcomment %}