{% extends "base.html" %}
{% block title %}Восстановление пароля{% endblock %}
{% block content %}
<section>
  <div class="container">
    <div class="row justify-content-md-center w-100 m-auto">
      <div class="col-6">
        <h2 class="text-dark fw-light lh-base mt-4 text-center">Восстановление пароля</h2>
        <p class="modal-body fw-lighter" id="modalLogOutContent">
            Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам инструкцию, как установить новый пароль.
        </p>
        {% include 'includes/check_error.html' %}
        <form id="loginForm" method="POST" action="{% url 'core:password_reset' %}">
          {% csrf_token %}
          <div class="form-group row my-3 p-3">
            <label for="id_email">
              Адрес электронной почты
              <span class="required text-danger">*</span>
            </label>    
            <input type="email" name="email" maxlength="254" class="form-control" required id="id_email">
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" name="loginSubmit" class="btn btn-default btn-primary my-3 col-4">
              Восстановить
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% include 'includes/marketing.html' %}
<!-- Модальное окно после успешной отправки формы -->
{% endblock %}
