{% extends "base.html" %}
{% block title %}Пароль отправлен{% endblock %}
{% block content %}
{% load static %}
<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="text-dark fw-light lh-base mt-4 text-center">Восстановление пароля</h2>
        <div class="d-flex flex-column mb-3 pb-3 border-bottom">
          <div class="d-flex align-items-center">
            <a class="me-3" href="#">
              <img src="{% static 'images/success.jpg' %}" alt="" class="img-fluid rounded" />
            </a>
            <div class="flex-fill">
              <a href="javascript:void(0)" class="text-dark" href="#">
                <p class="fw-lighter">
                  Ваш запрос на восстановление пароля был успешно отправлен. Ссылка для восстановления пароля будет отправлена на указанный адрес электронной почты.
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include 'includes/marketing.html' %}
<script>
  setTimeout(function() {
    location.replace("{% url 'core:login' %}"); // URL, на который будет осуществлен редирект
  }, 5000); // таймаут в миллисекундах (здесь - 5 секунд)
</script>
{% endblock %}