{% extends "base.html" %}
{% block title %}Профиль пользователя {{ user.get_full_name }} {% endblock %}
{% block content %}
{% load static %}
{% load thumbnail %}

<section>
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12 mt-5">
        <h4 class="fw-semibold border-bottom d-inline-block text-dark pb-3">Профиль пользователя</h4>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-lg-3">
        <div class="product-item ">
          <a href="work-detail.html">
            {% thumbnail user.avatar "216x226" crop="center" upscale=True as im %}
            <img class="card-img my-2" src="{{ im.url }}">
            {% endthumbnail %}
          </a>
          <div class="hover-content text-center w-100 position-absolute bottom-0 start-50 translate-middle-x py-2 mb-3">
            <a href="cart.html"><i class="mdi mdi-account-star-outline fs-22 me-3 pe-3 fw-bolder pro-icon text-dark border-end"></i></a>
            <a href="product-detail.html"><i class="mdi mdi-pan-horizontal fs-22 me-3 pe-3 fw-bolder pro-icon border-end active"></i></a>
            <a href="cart.html"><i class="mdi mdi-heart-outline text-dark fs-22 fw-bolder pro-icon"></i></a>
          </div>
          <h5 class="text-dark mt-3 fs-16">{{ user.get_full_name }}</h5>
          <p class="text-muted">{{ user.username }}</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row border-top py-4">
          <div class="col-sm-4 py-sm-0 py-3 align-items-center ">
              <h5>{{ user.posts.count }}</h5>
              <p class="text-muted fs-15 mb-0">Постов</p>
          </div>
          <div class="col-sm-4 py-sm-0 py-3 align-items-center ">
              <h5>{{ user.consoles.count }}</h5>
              <p class="text-muted fs-15 mb-0">Игровых приставок</p>
          </div>
          <div class="col-sm-4 py-sm-0 py-3 align-items-center ">
              <h5>{{ user.follower.count }}</h5>
              <p class="text-muted fs-15 mb-0">Подписчиков</p>
          </div>
          <div class="col-md-12 text-start mt-4">
              <div class="border rounded position-relative p-4">
                  <h5 class="fw-semibold fs-16">Контактная информация</h5>
                  <p class="my-2 text-muted fs-15 mt-4">Телефон : {{ user.phone_number }}</p>
                  <p class="my-2 text-muted fs-15">Email : {{ user.email }}</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% if user.is_authenticated %}
	<div id="style-switcher" onclick="toggleSwitcher()">
		<div>
			<h3>Настройки</h3>
			<ul class="pattern">
					<li>
						<a href="{% url 'core:new_post' %}"><i data-feather="file-plus" class="text-primary me-2"></i></a>
					</li>
					<li>
						<a href="#"><i data-feather="bookmark" class="text-primary me-2"></i></a>
					</li>
					<li>
						<a href="#"><i data-feather="archive" class="text-primary me-2"></i></a>
					</li>
			</ul>
		</div>
		<div class="bottom">
			<a href="#" class="settings rounded-end text-light"><i data-feather="settings"></i></a>
		</div>
	</div>
	{% endif %}


{% endblock %}