{% extends "base.html" %}
{% block title %}Зарегистрироваться{% endblock %}
{% block content %}
{% include 'users/includes/header_signup.html' %}
<section class="sm-section">
  <div class="container">
		<div class="row">
      {% comment %} Левая часть страницы {% endcomment %}
			<div class="col-lg-8 my-0">
        {% include 'includes/check_error.html' %}
        <form method="post" action="{% url 'core:signup' %}">
          {% csrf_token %}
          {% include 'includes/cycle_forms.html' %}
          <div class="col-md-6 offset-md-4">
            <button type="submit" class="btn btn-primary">
              Зарегистрироваться
            </button>
          </div>
        </form>
      </div>
      {% comment %} Правая часть страницы {% endcomment %}
      <div class="col-lg-4 col-md-6">
        <div class="sidebar ms-3">
          <div class="mt-5">
						<div class="sd-title mt-4">
							<h6 class="border-bottom pb-3 mb-0">Polular Post</h6>
						</div>
						<ul class="list-unstyled my-4">
							{% include 'blog/includes/popular_post.html' %}
              {% include 'blog/includes/popular_post.html' %}
              {% include 'blog/includes/popular_post.html' %}
						</ul>
					</div>
          <div class="mt-5">
						<div class="sd-title mt-4">
							<h6 class="border-bottom pb-3 mb-0">Polular Games</h6>
						</div>
						<ul class="list-unstyled my-4">
							{% include 'blog/includes/popular_post.html' %}
              {% include 'blog/includes/popular_post.html' %}
              {% include 'blog/includes/popular_post.html' %}
						</ul>
					</div>
          <div class="mt-5">
						<div class="sd-title mt-4">
							<h6 class="border-bottom pb-3 mb-0">Polular Console</h6>
						</div>
						<ul class="list-unstyled my-4">
							{% include 'blog/includes/popular_post.html' %}
              {% include 'blog/includes/popular_post.html' %}
              {% include 'blog/includes/popular_post.html' %}
						</ul>
					</div>
        </div>
      </div>
    </div>
  </div>
</section>

{% comment %} <div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">
      <div class="card-header">
        Зарегистрироваться
      </div>
      <div class="card-body">
        {% include 'includes/check_error.html' %}
        <form method="post" action="{% url 'core:signup' %}">
          {% csrf_token %}
          {% include 'includes/cycle_forms.html' %}
          <div class="col-md-6 offset-md-4">
            <button type="submit" class="btn btn-primary">
              Зарегистрироваться
            </button>
          </div>
        </form>
      </div>
    </div>
</div> {% endcomment %}
{% endblock %}
