{% load static %}
<div class="ps-0 pt-3 mt-3">
    <div class="d-sm-flex align-items-top">
        <div class="flex-shrink-0">
            <img class="rounded-circle img-thumbnail" src="{% static 'images/clients/client-1.jpg' %}"
                alt="img" style="width: 65px; height:65px;">
        </div>
        <div class="flex-grow-1 ms-sm-3">
            <h6 class="mt-sm-0 mt-3 fs-16">Michelle Durant</h6>
            <p class="text-muted">Jun 23, 2021, 11:45 am</p>

            <p class="text-muted fs-15">vero eos et accusamus et iusto odio dignissimos ducimus
                qui blanditiis
                praesentium
                voluptatum deleniti atque corrupti quos dolores</p>
        </div>
        <a class="text-muted me-3" href="javascript:void(0)"><i class="icon-xs"
                data-feather="message-square"></i></a>
    </div>
</div>