<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h2 class="text-dark fw-light lh-base mt-5">Поговорим об <span class="fw-medium title">
                     играх</span></h2>
                <p class="fs-16 text-muted mb-0">Определим топ лучших игр для приставок, неважно, каких именно, достаточно сложно. У каждого геймера свои предпочтения, и это совершенно нормально. Мы перечислим несколько наиболее впечатляющих игр для Xbox и Playstation, познакомиться с которыми никогда не поздно, а вернуться к ним всегда приятно.</p>
            </div>
        </div>
    </div>
</section>