<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h2 class="text-dark fw-light lh-base mt-5">We are creative &<span class="fw-medium title">
                        Innovative</span></h2>
                <p class="fs-16 text-muted mb-0">Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
                    consequat ipsum, nec sagittis sem nibh id elit. Proin gravida nibh vel velit auctor Aenean
                    sollicitudin, adipisicing elit sed lorem quis bibendum auctor.</p>
            </div>
        </div>
    </div>
</section>