{% extends "base.html" %}
{% block title %}Удаление записи{% endblock %}
{% block content %}
<section>
  <div class="container">
    <div class="row justify-content-md-center w-100 m-auto">
      <div class="col-6">
        <h2 class="text-dark fw-light lh-base mt-4 text-center">Удаление записи</h2>
        <p class="modal-body fw-lighter" id="modalLogOutContent">
          Вы действительно хотите удалить статью "{{ post.name }}"?
        </p>
        {% include 'includes/check_error.html' %}
        <form method="post" action="">
          {% csrf_token %}
          <div class="d-flex align-items-center justify-content-center my-4">
            <a class="btn btn-outline-secondary col-4 mx-auto" href="{% url 'core:blog-detail' pk=post.id %}">
              Отмена
            </a>
            <button type="submit" value="Confirm" class="btn btn-primary col-4 mx-auto">
              Удалить <i class="fas fa-trash-alt ms-2"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}