{% load static %}
<div
    class="date-box rounded-3 shadow text-center bg-light position-absolute top-0 start-0 p-2 ms-3 mt-3">
    <h6 class="fs-14 fw-medium mb-0">16-11-2021</h6>
</div>

<div class="post-preview mb-4">
    <a href="blog-single.html"><img src="{% static 'images/blog/blog-2.jpg' %}" alt=""
            class="img-fluid rounded" /></a>
</div>

<div class="post">
    <div class="d-flex align-items-center gap-3">
        <p class="fs-15 text-muted mb-0"><i data-feather="message-square"
                class="icon-xs me-1"></i>
            <a href="javascript:void(0)" class="text-muted">897</a>
        </p>
        <p class="fs-15 text-muted mb-0"><i data-feather="eye" class="icon-xs me-1"></i> <a
                href="javascript:void(0)" class="text-muted">99.2 K</a></p>
    </div>
    <h6 class="fs-22 fw-semibold my-3 post-title"><a href="single-post.html">What makes the best
            co-working space?</a></h6>
    <p class="text-muted">
        Whether an identity or campaign, we make your brand visible, relevant and effective by
        placing the digital at the center of its ecosystem, without underestimating the power of
        traditional media. Whether
        an identity or campaign, we make your brand visible.
    </p>
    <p class="text-muted">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
        architecto beatae vitae dicta sunt
        explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
        sed quia consequuntur magni dolores
    </p>
    <p class="text-muted">
        vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
        voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
        occaecati cupiditate non provident,
        similique sunt in culpa qui.
    </p>

    <div class="col-lg-12 my-4">
        <div class="section-title border-start border-primary position-relative">
            <i class="mdi mdi-format-quote-open-outline fs-3 text-primary"></i>
            <h5 class="fw-medium lh-1">We Are Awesome.</h5>
            <p class="text-muted mb-0">A business consulting agency is involved in the planning,
                implementation, and education of businesses. We work directly.</p>
        </div>
    </div>
    <p class="text-muted">
        vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
        voluptatum deleniti atque corrupt quas molestias excepturi sint
        occaecati cupiditate non provident.
    </p>
</div>