{% load static %}
<div class="col-lg-6">
    <article class="post position-relative pb-5">
        {% load thumbnail %}
        <div
            class="date-box rounded-3 shadow text-center bg-light position-absolute top-0 start-0 py-1 px-2 ms-3 mt-3">
            <h6 class="fs-14 fw-medium mb-0">{{ post.pub_date|date:"d.m"  }}</h6>
        </div>
        <div class="post-preview mb-4">
            <a href="{% url 'core:sing_post' %}">
                {% thumbnail post.image "296x173" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                {% endthumbnail %} 
            </a>
        </div>
        <div class="post">
            <div class="d-flex align-items-center gap-3">
                <p class="fs-15 text-muted mb-0"><i data-feather="message-square"
                        class="icon-xs me-1"></i> <a href="{% url 'core:sing_post' %}"
                        class="text-muted">364</a></p>
                <p class="fs-15 text-muted mb-0"><i data-feather="eye" class="icon-xs me-1"></i>
                    <a href="{% url 'core:sing_post' %}" class="text-muted">56.8 K</a>
                </p>
            </div>
            <h6 class="fs-18 fw-semibold my-3 post-title"><a href="{% url 'core:sing_post' %}">{{ post.name }}</a></h6>
            <p class="text-muted">
                {{ post.description|linebreaks }}
            </p>
            <a href="{% url 'core:sing_post' %}" class="fw-medium text-dark">Подробнее <i
                    data-feather="arrow-right" class="icon-xs icon"></i></a>
        </div>
    </article>
</div>
