<form action="#" method="post" class="mt-4">
    <div class="row g-3">
        <div class="col-lg-6">
            <div class="mb-3">
                <input id="author" class="form-control" placeholder="Name*" name="author"
                    type="text" required="">
            </div>
        </div>

        <div class="col-lg-6">
            <div class="form-group">
                <input id="email" class="form-control" placeholder="Email*" name="email"
                    type="text" required="">
            </div>
        </div>
    </div>
    <div class="row g-3">
        <div class="col-lg-12">
            <div class="mb-3">
                <input id="subject" class="form-control" placeholder="Website" name="subject"
                    type="text">
            </div>
        </div>
    </div>

    <div class="row g-3">
        <div class="col-lg-12">
            <div class="mb-3">
                <textarea id="comment" class="form-control" rows="5" placeholder="Your Message*"
                    name="comment" required=""></textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <button name="submit" type="submit" id="submit" class="btn btn-dark">Post
                    Comment <i class="icon-xxs" data-feather="arrow-right"></i></button>
            </div>
        </div>
    </div>
</form>