<ul class="list-unstyled share-link list-inline mt-5 border-bottom mb-4">
    <li class="list-inline-item">
        <h6 class="fw-medium fs-14 text-uppercase me-2">Share :</h6>
    </li>
    <li class="list-inline-item border-end pe-3"><a href="javascript:void(0)">Facebook</a></li>
    <li class="list-inline-item border-end pe-3"><a href="javascript:void(0)">Twitter</a></li>
    <li class="list-inline-item border-end pe-3"><a href="javascript:void(0)">Linked In</a></li>
    <li class="list-inline-item"><a href="javascript:void(0)">Instagram</a></li>
</ul>