{% load static %}
<div class="row text-center justify-content-center">
    <div class="col-lg-8 mt-5">
        <h4 class="fw-semibold border-bottom d-inline-block text-dark pb-3">What is our clients say?</h4>
        <div class="testimonial-box">
            <i class="icon-sm sw-1 my-3" data-feather="message-square"></i>
            <p class="text-muted fst-italic fs-18"> "It is a long established fact that a reader will be
                distracted by the readable content of a
                page when looking at its layout. The point of using Lorem Ipsum is that it has a
                more-or-less."</p>
            <img src="{% static 'images/user-1.png' %}" class="testi-user rounded-circle img-thumbnail"
                alt="testimonials-user" style="width: 64px; height: 64px;">
            <p class="text-muted fs-16 mt-3">Template User - Sozia Template</p>
        </div>
    </div>
</div>
