<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/materialdesignicons.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/pe-icon-7-stroke.css' %}" />
  <link rel="stylesheet" type="text/css" id="app-css" href="{% static 'css/style.css' %}"  />
  <link rel="stylesheet" type="text/css" id="color-opt" href="{% static 'css/colors/default.css' %}" />
  <link rel="icon" href="{% static 'img/fav/fav.ico' %}" type="image" />
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/fav/apple-touch-icon.png' %}" />
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/fav/favicon-32x32.png' %}" />
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/fav/favicon-16x16.png' %}" />
  <title>{% block title %}{% endblock %}</title>
</head>
<body data-bs-target=".navbar" data-bs-offset="110">
  <a href="javascript: void(0);" id="mode" data-class="light" class="text-white rounded-end mode-btn" onclick="changeMode(event)">
    <i class="mode-dark mx-auto" data-feather="moon"></i>
    <i class="bx-spin mode-light" data-feather="sun"></i>
  </a>

  {% include 'includes/header.html' %}
  {% block content %}{% endblock content %}
  {% include 'includes/footer.html' %}
  {% load static %}
  
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'js/shuffle.min.js' %}"></script>
	<script src="{% static 'js/gallery.init.js' %}"></script>
	<script src="{% static 'js/feather.js' %}"></script>
	<script src="{% static 'js/app.js' %}"></script>
	{% comment %} <script src="{% static 'scripts/script.js' %}"></script> {% endcomment %}
</body>
</html>
