<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include 'includes/lifestyle.html' %}
  <title>{% block title %}{% endblock %}</title>
</head>
<body data-bs-target=".navbar" data-bs-offset="110">
  <a href="javascript: void(0);" id="mode" data-class="light" class="text-white rounded-end mode-btn" onclick="changeMode(event)">
    <i class="mode-dark mx-auto" data-feather="moon"></i>
    <i class="bx-spin mode-light" data-feather="sun"></i>
  </a>

  {% include 'includes/header.html' %}
  {% block content %}{% endblock content %}
  {% include 'includes/footer.html' %}
  {% load static %}
  
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'js/shuffle.min.js' %}"></script>
	<script src="{% static 'js/gallery.init.js' %}"></script>
	<script src="{% static 'js/feather.js' %}"></script>
	<script src="{% static 'js/app.js' %}"></script>
	<script src="{% static 'scripts/script.js' %}"></script>
</body>
</html>
