<div class="nav-scroller bg-body">
    <nav class="nav nav-underline nav-pills" aria-label="Secondary navigation">
      <p class="nav-link navbar-brand mb-0 h1 ">Игровые приставки</p>
      <a class="nav-link nav-link active" aria-current="page" href="#">
        Playstation 4 Slim
        <span class="badge bg-light text-dark rounded-pill align-text-bottom">3</span>
      </a>
      <a class="nav-link nav-link " aria-current="page" href="#">
        Playstation 4 Pro
        <span class="badge bg-light text-dark rounded-pill align-text-bottom">1</span>
      </a>
      <a class="nav-link nav-link " aria-current="page" href="#">
        Playstation 5
        <span class="badge bg-light text-dark rounded-pill align-text-bottom">5</span>
      </a>
      <a class="nav-link nav-link " aria-current="page" href="#">
        XBOX Series S|X
        <span class="badge bg-light text-dark rounded-pill align-text-bottom">9</span>
      </a>
    </nav>
  </div>
