{% extends 'base.html' %}
{% block title %}Final Appocalipse 2.1{% endblock %}
{% load static %}
{% block content %}
<section class="page-top-section set-bg" data-setbg="{% static 'img/page-top-bg/2.jpg' %}">
    <div class="page-info">
        <h2>Final Appocalipse 2.1</h2>
        <div class="site-breadcrumb">
            <a href="{% url 'core:index' %}">Главная</a>  /
            <a href="{% url 'core:consoles' %}">Консоли</a>  /
        </div>
    </div>
</section>

<!-- Featured section -->
<section class="featured-section">
  <div class="featured-bg set-bg" data-setbg="{% static 'img/featured-bg.jpg' %}"></div>
  <div class="featured-box">
    <div class="text-box">
      <div class="top-meta">11.11.18  /  in <a href="">Games</a></div>
      <h3>Title</h3>
      <p>Description</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-primary me-md-2 site-btn">Забронировать  <img src="{% static 'img/icons/double-arrow.png' %}" alt="#"/></button>
      </div>

    </div>
  </div>
</section>
  <!-- Featured section end-->

<section class="game-author-section">
  <div class="container">
    <div class="game-author-pic set-bg" data-setbg="{% static 'img/author.jpg' %}"></div>
    <div class="game-author-info">
      <h4>Арендодатель: Michael Williams</h4>
      <p>Vivamus volutpat nibh ac sollicitudin imperdiet. Donec scelerisque lorem sodales odio ultricies, nec rhoncus ex lobortis. Vivamus tincid-unt sit amet sem id varius. Donec elementum aliquet tortor. Curabitur justo mi, efficitur sed eros alique.</p>
    </div>
  </div>
</section>
{% endblock %}