{% load static %}
<div class="review-item">
    <div class="row">
        <div class="col-lg-4">
            <div class="review-pic">
                <img src="{% static 'img/review/1.jpg' %}" alt="">
            </div>
        </div>
        <div class="col-lg-8">
            <div class="review-content text-box text-white">
                <div class="rating">
                    <h5><i>Rating</i><span>4.5</span> / 5</h5>
                </div>
                <div class="top-meta">11.11.18  /  in <a href="">Games</a></div>
                <h3>Final Appocalipse</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.Vivamus volutpat nibh ac sollicitudin imperdiet. Donec scelerisque lorem sodales odio ultricies, nec rhoncus ex lobortis. Vivamus tincidunt sit amet sem id varius. Donec elementum aliquet tortor. Curabitur justo mi, efficitur sed eros aliquealiqua.....</p>
                <a href="#" class="read-more">Read More  <img src="{% static 'img/icons/double-arrow.png' %}" alt="#"/></a>
            </div>
        </div>
    </div>
</div>
<div class="review-item">
    <div class="row">
        <div class="col-lg-4">
            <div class="review-pic">
                <img src="{% static 'img/review/2.jpg' %}" alt="">
            </div>
        </div>
        <div class="col-lg-8">
            <div class="review-content text-box text-white">
                <div class="rating">
                    <h5><i>Rating</i><span>4.5</span> / 5</h5>
                </div>
                <div class="top-meta">11.11.18  /  in <a href="">Games</a></div>
                <h3>Hounted Mansion 3</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.Vivamus volutpat nibh ac sollicitudin imperdiet. Donec scelerisque lorem sodales odio ultricies, nec rhoncus ex lobortis. Vivamus tincidunt sit amet sem id varius. Donec elementum aliquet tortor. Curabitur justo mi, efficitur sed eros aliquealiqua.....</p>
                <a href="#" class="read-more">Read More  <img src="{% static 'img/icons/double-arrow.png' %}" alt="#"/></a>
            </div>
        </div>
    </div>
</div>
<div class="review-item">
    <div class="row">
        <div class="col-lg-4">
            <div class="review-pic">
                <img src="{% static 'img/review/3.jpg' %}" alt="">
            </div>
        </div>
        <div class="col-lg-8">
            <div class="review-content text-box text-white">
                <div class="rating">
                    <h5><i>Rating</i><span>3.5</span> / 5</h5>
                </div>
                <div class="top-meta">11.11.18  /  in <a href="">Games</a></div>
                <h3>Shooting Stuff</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.Vivamus volutpat nibh ac sollicitudin imperdiet. Donec scelerisque lorem sodales odio ultricies, nec rhoncus ex lobortis. Vivamus tincidunt sit amet sem id varius. Donec elementum aliquet tortor. Curabitur justo mi, efficitur sed eros aliquealiqua.....</p>
                <a href="#" class="read-more">Read More  <img src="{% static 'img/icons/double-arrow.png' %}" alt="#"/></a>
            </div>
        </div>
    </div>
</div>
<div class="review-item">
    <div class="row">
        <div class="col-lg-4">
            <div class="review-pic">
                <img src="{% static 'img/review/4.jpg' %}" alt="">
            </div>
        </div>
        <div class="col-lg-8">
            <div class="review-content text-box text-white">
                <div class="rating">
                    <h5><i>Rating</i><span>4.5</span> / 5</h5>
                </div>
                <div class="top-meta">11.11.18  /  in <a href="">Games</a></div>
                <h3>Zombie War Nation 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.Vivamus volutpat nibh ac sollicitudin imperdiet. Donec scelerisque lorem sodales odio ultricies, nec rhoncus ex lobortis. Vivamus tincidunt sit amet sem id varius. Donec elementum aliquet tortor. Curabitur justo mi, efficitur sed eros aliquealiqua.....</p>
                <a href="#" class="read-more">Read More  <img src="{% static 'img/icons/double-arrow.png' %}" alt="#"/></a>
            </div>
        </div>
    </div>
</div>
<div class="review-item">
    <div class="row">
        <div class="col-lg-4">
            <div class="review-pic">
                <img src="{% static 'img/review/5.jpg' %}" alt="">
            </div>
        </div>
        <div class="col-lg-8">
            <div class="review-content text-box text-white">
                <div class="rating">
                    <h5><i>Rating</i><span>2.5</span> / 5</h5>
                </div>
                <div class="top-meta">11.11.18  /  in <a href="">Games</a></div>
                <h3>Jams’e Island 3</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.Vivamus volutpat nibh ac sollicitudin imperdiet. Donec scelerisque lorem sodales odio ultricies, nec rhoncus ex lobortis. Vivamus tincidunt sit amet sem id varius. Donec elementum aliquet tortor. Curabitur justo mi, efficitur sed eros aliquealiqua.....</p>
                <a href="#" class="read-more">Read More  <img src="{% static 'img/icons/double-arrow.png' %}" alt="#"/></a>
            </div>
        </div>
    </div>
</div>
