{% extends 'base.html' %}
{% block title %}Консоли{% endblock title %}
{% load static %}
{% block content %}

<section class="page-top-section set-bg" data-setbg="{% static 'img/page-top-bg/2.jpg' %}">
    <div class="page-info">
        <h2>Консоли</h2>
        <div class="site-breadcrumb">
            <a href="">Главная</a>  /
        </div>
    </div>
</section>

<section class="review-section">
    <div class="container">
        <ul class="game-filter">
            <li><a href="">A</a></li>
            <li><a href="">B</a></li>
            <li><a href="">C</a></li>
            <li><a href="">D</a></li>
            <li><a href="">E</a></li>
            <li><a href="">F</a></li>
            <li><a href="">G</a></li>
            <li><a href="">H</a></li>
            <li><a href="">I</a></li>
            <li><a href="">J</a></li>
            <li><a href="">K</a></li>
            <li><a href="">L</a></li>
            <li><a href="">M</a></li>
            <li><a href="">N</a></li>
            <li><a href="">O</a></li>
            <li><a href="">P</a></li>
            <li><a href="">Q</a></li>
            <li><a href="">R</a></li>
            <li><a href="">S</a></li>
            <li><a href="">T</a></li>
            <li><a href="">U</a></li>
            <li><a href="">V</a></li>
            <li><a href="">W</a></li>
            <li><a href="">X</a></li>
            <li><a href="">Y</a></li>
            <li><a href="">Z</a></li>
        </ul>
        {% include 'consoles/console_list.html' %}
        {% include 'includes/paginator.html' %}
    </div>
</section>
{% endblock %}
