{% extends 'base.html' %}
{% block title %}Products{% endblock title %}
{% load static %}
{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="page-title">
                    <h2 class="text-dark fw-light lh-base mt-5">Launching Spring <span
                            class="fw-medium title">Summer'21</span></h2>
                    <p class="fs-16 text-muted mb-0">Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
                        consequat ipsum, nec sagittis sem nibh id elit. Proin gravida nibh vel velit auctor Aenean
                        sollicitudin, adipisicing elit sed lorem quis bibendum auctor.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="sm-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="border-bottom">
                    <div class="row align-items-center pb-sm-3 pb-4">
                        <div class="col-lg-8 col-md-6 my-md-0 my-2">
                            <p class="text-muted mb-0 py-sm-0 py-2">Showing 1–9 of 15 results</p>
                        </div>
                        <div class="col-lg-4 col-md-6 my-md-0 my-2">
                            <form>
                                <div class="row mb-0 mt-md-4 mt-lg-0">
                                    <h5 class="col-sm-3 col-form-label">Sort By :</h5>
                                    <div class="col-sm-9 ps-0">
                                        <select
                                            class="form-select bg-light text-muted border fs-14 py-2 ms-sm-0 ms-1"
                                            aria-label="Default select example">
                                            <option selected>Most Popular </option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END ROW -->
        <div class="row">
            <div class="col-md-3">
                <div class="sidebar shadow rounded-3 py-4 mt-4">
                    <div class="mb-4 ms-4">
                        <a href="products.html"><i data-feather="grid" class="text-primary me-2"></i></a>
                        <a href="product-list.html"><i data-feather="list" class="text-muted"></i></a>
                    </div>
                    <!-- categories -->
                    <div>
                        <div class="p-3 bg-light">
                            <h6 class="mb-0">Categories</h6>
                        </div>
                        <div class="ms-3 my-3">
                            <div class="form-check mb-2">
                                <input class="form-check-input fs-16" type="checkbox" value=""
                                    id="flexCheckDefaulta1" />
                                <label class="form-check-label text-dark ms-2"
                                    for="flexCheckDefaulta1">Accessories</label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input fs-16" type="checkbox" value=""
                                    id="flexCheckChecked11" checked />
                                <label class="form-check-label text-dark ms-2" for="flexCheckChecked11">Bag</label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input fs-16" type="checkbox" value=""
                                    id="flexCheckChecked22" />
                                <label class="form-check-label text-dark ms-2"
                                    for="flexCheckChecked22">Clothing</label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input fs-16" type="checkbox" value=""
                                    id="flexCheckChecked33" />
                                <label class="form-check-label text-dark ms-2"
                                    for="flexCheckChecked33">Decore</label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input fs-16" type="checkbox" value=""
                                    id="flexCheckChecked44" />
                                <label class="form-check-label text-dark ms-2" for="flexCheckChecked44">Coffee
                                    Pots</label>
                            </div>
                            <a class="fw-normal text-primary" href="javascript:void(0)">& More Products</a>
                        </div>
                    </div>
                    <!-- end categories -->

                    <!-- color -->
                    <div class="mt-4">
                        <div class="p-3 bg-light">
                            <h6 class="mb-0">Choose Color</h6>
                        </div>
                        <div class="ms-3 my-3">
                            <div class="form-check mb-2">
                                <input class="form-check-input fs-16" type="checkbox" value=""
                                    id="flexCheckDefaulta2" />
                                <label class="form-check-label text-dark" for="flexCheckDefaulta2"><i
                                        class="mdi mdi-circle ms-2 fs-16"></i> Red</label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input fs-16" type="checkbox" value=""
                                    id="flexCheckChecked55" checked />
                                <label class="form-check-label text-dark" for="flexCheckChecked55"><i
                                        class="mdi mdi-circle text-primary ms-2 fs-16"></i> Blue</label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input fs-16" type="checkbox" value=""
                                    id="flexCheckChecked66" />
                                <label class="form-check-label text-dark" for="flexCheckChecked66"><i
                                        class="mdi mdi-circle text-dark ms-2 fs-16"></i> Black</label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input fs-16" type="checkbox" value=""
                                    id="flexCheckChecked77" />
                                <label class="form-check-label text-dark" for="flexCheckChecked77"><i
                                        class="mdi mdi-circle text-info ms-2 fs-16"></i> Cyan</label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input fs-16" type="checkbox" value=""
                                    id="flexCheckChecked88" />
                                <label class="form-check-label text-dark" for="flexCheckChecked88"><i
                                        class="mdi mdi-circle text-warning ms-2 fs-16"></i> Yellow</label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input fs-16" type="checkbox" value=""
                                    id="flexCheckChecked99" />
                                <label class="form-check-label text-dark" for="flexCheckChecked99"><i
                                        class="mdi mdi-circle text-success ms-2 fs-16"></i> Green</label>
                            </div>
                        </div>
                    </div>
                    <!-- end color -->

                    <!-- items -->
                    <div class="mt-4">
                        <div class="p-3 bg-light">
                            <h6 class="mb-0">Items</h6>
                        </div>
                        <div class="ms-3 my-3">
                            <p class="d-inline-block text-dark fs-16">Select Items</p>
                            <select class="form-select d-inline-block border w-50 ms-5 ms-md-2"
                                id="autoSizingSelect">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                    </div>
                    <!-- end item -->

                    <!-- start price -->
                    <div class="mt-4">
                        <div class="p-3 bg-light mb-3">
                            <h6 class="mb-0">Price</h6>
                        </div>
                        <div class="ms-3 my-3">
                            <div class="form-check mb-2">
                                <input class="form-check-input fs-16" type="checkbox" value=""
                                    id="flexCheckDefaulta7" />
                                <label class="form-check-label text-dark ms-2" for="flexCheckDefaulta7">$50 -
                                    $99</label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input fs-16" type="checkbox" value="" id="flexCheckChecke"
                                    checked />
                                <label class="form-check-label text-dark ms-2" for="flexCheckChecke">$100 -
                                    $199</label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input fs-16" type="checkbox" value=""
                                    id="flexCheckCheck" />
                                <label class="form-check-label text-dark ms-2" for="flexCheckCheck">$200 -
                                    $299</label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input fs-16" type="checkbox" value="" id="flexCheckChec" />
                                <label class="form-check-label text-dark ms-2" for="flexCheckChec">$300 -
                                    $399</label>
                            </div>
                            <div class="form-check mb-2">
                                <input class="form-check-input fs-16" type="checkbox" value="" id="flexCheckChe" />
                                <label class="form-check-label text-dark ms-2" for="flexCheckChe">$400 -
                                    $499</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-9">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="product-item mt-4">
                            <div class="product-img rounded position-relative">
                                <img class="img-fluid" src="{% static 'images/add.jpg' %}" alt="" />
                                <div
                                    class="hover-content text-center w-100 position-absolute bottom-0 start-50 translate-middle-x py-2 mb-3">
                                    <a href="{% url 'core:new_console' %}"><i
                                            class="mdi mdi-plus-thick fs-22 me-3 pe-3 fw-bolder pro-icon border-end"></i></a>
                                    <a href="product-detail.html"><i
                                            class="mdi mdi-eye-outline fs-22 me-3 pe-3 fw-bolder pro-icon border-end active"></i></a>
                                    <a href="cart.html"><i
                                            class="mdi mdi-delete fs-22 me-3 pe-3 fw-bolder pro-icon border-end"></i></a>
                                    <a href="cart.html"><i
                                            class="mdi mdi-heart-outline fs-22 fw-bolder pro-icon"></i></a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="col-lg-4 col-md-6">
                        <div class="product-item mt-4">
                            <div class="product-img rounded position-relative">
                                <img class="img-fluid" src="{% static 'images/products/pro-2.jpg' %}" alt="" />
                                <div
                                    class="hover-content text-center w-100 position-absolute bottom-0 start-50 translate-middle-x py-2 mb-3">
                                    <a href="cart.html"><i
                                            class="mdi mdi-cart-outline fs-22 me-3 pe-3 fw-bolder pro-icon text-dark border-end"></i></a>
                                    <a href="product-detail.html"><i
                                            class="mdi mdi-eye-outline fs-22 me-3 pe-3 fw-bolder pro-icon border-end active"></i></a>
                                    <a href="cart.html"><i
                                            class="mdi mdi-heart-outline text-dark fs-22 fw-bolder pro-icon"></i></a>
                                </div>
                            </div>
                            <div class="pro-content my-3">
                                <div class="d-flex align-items-center">
                                    <ins class="pe-2 fs-15 fw-semibold text-decoration-none text-dark">$35.00</ins>
                                    <del class="text-muted fs-15">$45.00</del>
                                    <div class="rating ms-auto">
                                        <i class="mdi mdi-star fs-18 text-warning d-inline-block"></i>
                                        <h5 class="d-inline-block fs-15">4.8</h5>
                                    </div>
                                </div>
                                <a href="product-detail.html">
                                    <p class="text-muted fw-normal lh-base my-1">PRd PU Tan Casual regular
                                        Walletious</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="col-lg-4 col-md-6">
                        <div class="product-item mt-4">
                            <div class="product-img rounded position-relative">
                                <img class="img-fluid" src="{% static 'images/products/pro-3.jpg' %}" alt="" />
                                <span
                                    class="text-dark badge bg-light rounded-3 fs-14 fw-bold position-absolute top-0 start-0 mt-2 ms-2 py-2">-18%</span>
                                <div
                                    class="hover-content text-center w-100 position-absolute bottom-0 start-50 translate-middle-x py-2 mb-3">
                                    <a href="cart.html"><i
                                            class="mdi mdi-cart-outline fs-22 me-3 pe-3 fw-bolder pro-icon text-dark border-end"></i></a>
                                    <a href="product-detail.html"><i
                                            class="mdi mdi-eye-outline fs-22 me-3 pe-3 fw-bolder pro-icon border-end active"></i></a>
                                    <a href="cart.html"><i
                                            class="mdi mdi-heart-outline text-dark fs-22 fw-bolder pro-icon"></i></a>
                                </div>
                            </div>
                            <div class="pro-content my-3">
                                <div class="d-flex align-items-center">
                                    <ins class="pe-2 fs-15 fw-semibold text-decoration-none text-dark">$20.00</ins>
                                    <del class="text-muted fs-15">$30.00</del>
                                    <div class="rating ms-auto">
                                        <i class="mdi mdi-star fs-18 text-warning d-inline-block"></i>
                                        <h5 class="d-inline-block fs-15">4.9</h5>
                                    </div>
                                </div>
                                <a href="product-detail.html">
                                    <p class="text-muted fw-normal lh-base my-1">Children Decorated Shoes Cotton
                                        Green</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="col-lg-4 col-md-6">
                        <div class="product-item mt-4">
                            <div class="product-img rounded position-relative">
                                <img class="img-fluid" src="{% static 'images/products/pro-4.jpg' %}" alt="" />
                                <div
                                    class="hover-content text-center w-100 position-absolute bottom-0 start-50 translate-middle-x py-2 mb-3">
                                    <a href="cart.html"><i
                                            class="mdi mdi-cart-outline fs-22 me-3 pe-3 fw-bolder pro-icon text-dark border-end"></i></a>
                                    <a href="product-detail.html"><i
                                            class="mdi mdi-eye-outline fs-22 me-3 pe-3 fw-bolder pro-icon border-end active"></i></a>
                                    <a href="cart.html"><i
                                            class="mdi mdi-heart-outline text-dark fs-22 fw-bolder pro-icon"></i></a>
                                </div>
                            </div>
                            <div class="pro-content my-3">
                                <div class="d-flex align-items-center">
                                    <ins class="pe-2 fs-15 fw-semibold text-decoration-none text-dark">$39.00</ins>
                                    <del class="text-muted fs-15">$59.00</del>
                                    <div class="rating ms-auto">
                                        <i class="mdi mdi-star fs-18 text-warning d-inline-block"></i>
                                        <h5 class="d-inline-block fs-15">5.0</h5>
                                    </div>
                                </div>
                                <a href="product-detail.html">
                                    <p class="text-muted fw-normal lh-base my-1">Maxbell USB Rechargeable Electronic
                                        Flameless</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="col-lg-4 col-md-6">
                        <div class="product-item mt-4">
                            <div class="product-img rounded position-relative">
                                <img class="img-fluid" src="{% static 'images/products/pro-5.jpg' %}" alt="" />
                                <div
                                    class="hover-content text-center w-100 position-absolute bottom-0 start-50 translate-middle-x py-2 mb-3">
                                    <a href="cart.html"><i
                                            class="mdi mdi-cart-outline fs-22 me-3 pe-3 fw-bolder pro-icon text-dark border-end"></i></a>
                                    <a href="product-detail.html"><i
                                            class="mdi mdi-eye-outline fs-22 me-3 pe-3 fw-bolder pro-icon border-end active"></i></a>
                                    <a href="cart.html"><i
                                            class="mdi mdi-heart-outline text-dark fs-22 fw-bolder pro-icon"></i></a>
                                </div>
                            </div>
                            <div class="pro-content my-3">
                                <div class="d-flex align-items-center">
                                    <ins class="pe-2 fs-15 fw-semibold text-decoration-none text-dark">$35.00</ins>
                                    <del class="text-muted fs-15">$45.00</del>
                                    <div class="rating ms-auto">
                                        <i class="mdi mdi-star fs-18 text-warning d-inline-block"></i>
                                        <h5 class="d-inline-block fs-15">4.8</h5>
                                    </div>
                                </div>
                                <a href="product-detail.html">
                                    <p class="text-muted fw-normal lh-base my-1">PRd PU Tan Casual regular
                                        Walletious</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="col-lg-4 col-md-6">
                        <div class="product-item mt-4">
                            <div class="product-img rounded position-relative">
                                <img class="img-fluid" src="{% static 'images/products/pro-6.jpg' %}" alt="" />
                                <div
                                    class="hover-content text-center w-100 position-absolute bottom-0 start-50 translate-middle-x py-2 mb-3">
                                    <a href="cart.html"><i
                                            class="mdi mdi-cart-outline fs-22 me-3 pe-3 fw-bolder pro-icon text-dark border-end"></i></a>
                                    <a href="product-detail.html"><i
                                            class="mdi mdi-eye-outline fs-22 me-3 pe-3 fw-bolder pro-icon border-end active"></i></a>
                                    <a href="cart.html"><i
                                            class="mdi mdi-heart-outline text-dark fs-22 fw-bolder pro-icon"></i></a>
                                </div>
                            </div>
                            <div class="pro-content my-3">
                                <div class="d-flex align-items-center">
                                    <ins class="pe-2 fs-15 fw-semibold text-decoration-none text-dark">$20.00</ins>
                                    <del class="text-muted fs-15">$30.00</del>
                                    <div class="rating ms-auto">
                                        <i class="mdi mdi-star fs-18 text-warning d-inline-block"></i>
                                        <h5 class="d-inline-block fs-15">4.9</h5>
                                    </div>
                                </div>
                                <a href="product-detail.html">
                                    <p class="text-muted fw-normal lh-base my-1">Children Decorated Shoes Cotton
                                        Green</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="col-lg-4 col-md-6">
                        <div class="product-item mt-4">
                            <div class="product-img rounded position-relative">
                                <img class="img-fluid" src="{% static 'images/products/pro-7.jpg' %}" alt="" />
                                <div
                                    class="hover-content text-center w-100 position-absolute bottom-0 start-50 translate-middle-x py-2 mb-3">
                                    <a href="cart.html"><i
                                            class="mdi mdi-cart-outline fs-22 me-3 pe-3 fw-bolder pro-icon text-dark border-end"></i></a>
                                    <a href="product-detail.html"><i
                                            class="mdi mdi-eye-outline fs-22 me-3 pe-3 fw-bolder pro-icon border-end active"></i></a>
                                    <a href="cart.html"><i
                                            class="mdi mdi-heart-outline text-dark fs-22 fw-bolder pro-icon"></i></a>
                                </div>
                            </div>
                            <div class="pro-content my-3">
                                <div class="d-flex align-items-center">
                                    <ins class="pe-2 fs-15 fw-semibold text-decoration-none text-dark">$99.00</ins>
                                    <del class="text-muted fs-15">$95.00</del>
                                    <div class="rating ms-auto">
                                        <i class="mdi mdi-star fs-18 text-warning d-inline-block"></i>
                                        <h5 class="d-inline-block fs-15">5.0</h5>
                                    </div>
                                </div>
                                <a href="product-detail.html">
                                    <p class="text-muted fw-normal lh-base my-1">Maxbell USB Rechargeable Electronic
                                        Flameless</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="col-lg-4 col-md-6">
                        <div class="product-item mt-4">
                            <div class="product-img rounded position-relative">
                                <img class="img-fluid" src="{% static 'images/products/pro-8.jpg' %}" alt="" />
                                <span
                                    class="text-dark badge bg-light rounded-3 fs-14 fw-bold position-absolute top-0 start-0 mt-2 ms-2 py-2">-26%</span>
                                <div
                                    class="hover-content text-center w-100 position-absolute bottom-0 start-50 translate-middle-x py-2 mb-3">
                                    <a href="cart.html"><i
                                            class="mdi mdi-cart-outline fs-22 me-3 pe-3 fw-bolder pro-icon text-dark border-end"></i></a>
                                    <a href="product-detail.html"><i
                                            class="mdi mdi-eye-outline fs-22 me-3 pe-3 fw-bolder pro-icon border-end active"></i></a>
                                    <a href="cart.html"><i
                                            class="mdi mdi-heart-outline text-dark fs-22 fw-bolder pro-icon"></i></a>
                                </div>
                            </div>
                            <div class="pro-content my-3">
                                <div class="d-flex align-items-center">
                                    <ins class="pe-2 fs-15 fw-semibold text-decoration-none text-dark">$35.00</ins>
                                    <del class="text-muted fs-15">$45.00</del>
                                    <div class="rating ms-auto">
                                        <i class="mdi mdi-star fs-18 text-warning d-inline-block"></i>
                                        <h5 class="d-inline-block fs-15">4.8</h5>
                                    </div>
                                </div>
                                <a href="product-detail.html">
                                    <p class="text-muted fw-normal lh-base my-1">PRd PU Tan Casual regular
                                        Walletious</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="col-lg-4 col-md-6">
                        <div class="product-item mt-4">
                            <div class="product-img rounded position-relative">
                                <img class="img-fluid" src="{% static 'images/products/pro-9.jpg' %}" alt="" />
                                <span
                                    class="text-dark badge bg-light rounded-3 fs-14 fw-bold position-absolute top-0 start-0 mt-2 ms-2 py-2">-15%</span>
                                <div
                                    class="hover-content text-center w-100 position-absolute bottom-0 start-50 translate-middle-x py-2 mb-3">
                                    <a href="cart.html"><i
                                            class="mdi mdi-cart-outline fs-22 me-3 pe-3 fw-bolder pro-icon text-dark border-end"></i></a>
                                    <a href="product-detail.html"><i
                                            class="mdi mdi-eye-outline fs-22 me-3 pe-3 fw-bolder pro-icon border-end active"></i></a>
                                    <a href="cart.html"><i
                                            class="mdi mdi-heart-outline text-dark fs-22 fw-bolder pro-icon"></i></a>
                                </div>
                            </div>
                            <div class="pro-content my-3">
                                <div class="d-flex align-items-center">
                                    <ins class="pe-2 fs-15 fw-semibold text-decoration-none text-dark">$20.00</ins>
                                    <del class="text-muted fs-15">$30.00</del>
                                    <div class="rating ms-auto">
                                        <i class="mdi mdi-star fs-18 text-warning d-inline-block"></i>
                                        <h5 class="d-inline-block fs-15">4.9</h5>
                                    </div>
                                </div>
                                <a href="product-detail.html">
                                    <p class="text-muted fw-normal lh-base my-1">Children Decorated Shoes Cotton
                                        Green</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
                {% include 'includes/paginator.html' %}
            </div>
        </div>
        <!-- END ROW -->
    </div>
</section>

    <!-- start brand-logo -->
<section class="client-section sm-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-auto col-12 mt-3 py-lg-0 py-3">
                <div class="client-box">
                    <img src="{% static 'images/brand/brand-1.png' %}" class="mx-auto d-block img-fluid" alt="client-logo" />
                </div>
            </div>
            <div class="col-md-auto col-12 mt-3 py-lg-0 py-3">
                <div class="client-box">
                    <img src="{% static 'images/brand/brand-2.png' %}" class="mx-auto d-block img-fluid" alt="client-logo" />
                </div>
            </div>
            <div class="col-md-auto col-12 mt-3 py-lg-0 py-3">
                <div class="client-box">
                    <img src="{% static 'images/brand/brand-3.png' %}" class="mx-auto d-block img-fluid" alt="client-logo" />
                </div>
            </div>
            <div class="col-md-auto col-12 mt-3 py-lg-0 py-3">
                <div class="client-box">
                    <img src="{% static 'images/brand/brand-4.png' %}" class="mx-auto d-block img-fluid" alt="client-logo" />
                </div>
            </div>
            <div class="col-md-auto col-12 mt-3 py-lg-0 py-3">
                <div class="client-box">
                    <img src="{% static 'images/brand/brand-5.png' %}" class="mx-auto d-block img-fluid" alt="client-logo" />
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
{% endblock content %}