{% load static %}
<section class="section">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-12 filters-group-wrap mb-3">
              <div class="filters-group">
                <ul class="container-filter mb-0 categories-filter list-unstyled filter-options">{% include 'consoles/categories.html' %}</ul>
              </div>
          </div>
              <!--end col-->
      </div>                 
      
      <div id="grid" class="row">
          <!-- здесь будет цикл для приставок -->
          {% include 'consoles/cart_console.html' %}
      </div>
      <div class="row">
          <div class="col-lg-12">
              <div class="text-center mt-5">
                  <a href="work.html" class="btn btn-primary me-2">More Works <i class="mdi mdi-arrow-right ms-1"></i></a>
                  <a href="contact.html" class="btn btn-primary">Get In Touch <i class="mdi mdi-lifebuoy ms-1"></i></a>
              </div>
          </div>
      </div>
  </div>
</section>
