{% extends 'base.html' %}
{% block title %}Игровые приствки{% endblock %}
{% block content %}
{% include 'consoles/categories.html' %}

<section id="gallery">
  <div class="container">
    <div class="row">
      {% comment %} Карточка {% endcomment %}
      <div class="col-lg-4 mb-4">
        <div class="card">
          <div class="d-grid gap-2">
            <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="img-fluid">
          </div>
          <div class="card-body">
            <h5 class="card-title">Title</h5>
            <p class="card-text">Description</p>
            <div class="d-grid gap-2 d-md-flex justify-content-between">
              <button type="button" class="btn btn-outline-secondary rounded-pill position-relative" data-bs-toggle="dropdown" aria-expanded="True">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-half" viewBox="0 0 16 16">
                  <path d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/></svg></button>
              <button type="button" class="btn btn-sm btn-outline-secondary position-relative">
                Подробнее
              </button>
            </div>
          </div>
        </div>
      </div>
      {% comment %} Карточка {% endcomment %}
      {% comment %} Карточка {% endcomment %}
      <div class="col-lg-4 mb-4">
        <div class="card">
          <div class="d-grid gap-2">
            <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="img-fluid">
          </div>
          <div class="card-body">
            <h5 class="card-title">Title</h5>
            <p class="card-text">Description</p>
            <div class="d-grid gap-2 d-md-flex justify-content-between">
              <button type="button" class="btn btn-outline-secondary rounded-pill position-relative" data-bs-toggle="dropdown" aria-expanded="True">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-half" viewBox="0 0 16 16">
                  <path d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/></svg></button>
              <button type="button" class="btn btn-sm btn-outline-secondary position-relative">
                Подробнее
              </button>
            </div>
          </div>
        </div>
      </div>
      {% comment %} Карточка {% endcomment %}
      {% comment %} Карточка {% endcomment %}
      <div class="col-lg-4 mb-4">
        <div class="card">
          <div class="d-grid gap-2">
            <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="img-fluid">
          </div>
          <div class="card-body">
            <h5 class="card-title">Title</h5>
            <p class="card-text">Description</p>
            <div class="d-grid gap-2 d-md-flex justify-content-between">
              <button type="button" class="btn btn-outline-secondary rounded-pill position-relative" data-bs-toggle="dropdown" aria-expanded="True">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-half" viewBox="0 0 16 16">
                  <path d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/></svg></button>
              <button type="button" class="btn btn-sm btn-outline-secondary position-relative">
                Подробнее
              </button>
            </div>
          </div>
        </div>
      </div>
      {% comment %} Карточка {% endcomment %}
      {% comment %} Карточка {% endcomment %}
      <div class="col-lg-4 mb-4">
        <div class="card">
          <div class="d-grid gap-2">
            <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="img-fluid">
          </div>
          <div class="card-body">
            <h5 class="card-title">Title</h5>
            <p class="card-text">Description</p>
            <div class="d-grid gap-2 d-md-flex justify-content-between">
              <button type="button" class="btn btn-outline-secondary rounded-pill position-relative" data-bs-toggle="dropdown" aria-expanded="True">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-half" viewBox="0 0 16 16">
                  <path d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/></svg></button>
              <button type="button" class="btn btn-sm btn-outline-secondary position-relative">
                Подробнее
              </button>
            </div>
          </div>
        </div>
      </div>
      {% comment %} Карточка {% endcomment %}
      {% comment %} Карточка {% endcomment %}
      <div class="col-lg-4 mb-4">
        <div class="card">
          <div class="d-grid gap-2">
            <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="img-fluid">
          </div>
          <div class="card-body">
            <h5 class="card-title">Title</h5>
            <p class="card-text">Description</p>
            <div class="d-grid gap-2 d-md-flex justify-content-between">
              <button type="button" class="btn btn-outline-secondary rounded-pill position-relative" data-bs-toggle="dropdown" aria-expanded="True">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-half" viewBox="0 0 16 16">
                  <path d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/></svg></button>
              <button type="button" class="btn btn-sm btn-outline-secondary position-relative">
                Подробнее
              </button>
            </div>
          </div>
        </div>
      </div>
      {% comment %} Карточка {% endcomment %}
      {% comment %} Карточка {% endcomment %}
      <div class="col-lg-4 mb-4">
        <div class="card">
          <div class="d-grid gap-2">
            <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="img-fluid">
          </div>
          <div class="card-body">
            <h5 class="card-title">Title</h5>
            <p class="card-text">Description</p>
            <div class="d-grid gap-2 d-md-flex justify-content-between">
              <button type="button" class="btn btn-outline-secondary rounded-pill position-relative" data-bs-toggle="dropdown" aria-expanded="True">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-half" viewBox="0 0 16 16">
                  <path d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/></svg></button>
              <button type="button" class="btn btn-sm btn-outline-secondary position-relative">
                Подробнее
              </button>
            </div>
          </div>
        </div>
      </div>
      {% comment %} Карточка {% endcomment %}
    </div>
  </div>
</section>
{% endblock %}