<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Краткое описание страницы">
  <title>Сервис по аренде игровых приставок</title>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous">
</head>
<body>
  <div class="container">

    <!-- Начало глобального div.row с двумя колонками: 
     в левой колонке - имена авторов, в правой - блоки с текстом -->
    <div class="row ">

      <!-- Начало левой колонки сайта со списком авторов -->
      <aside class="col-12 col-md-3 shadow-sm p-3 mb-5 bg-body-tertiary rounded">
        <ul class="list-group ">
          <li class="list-group-item">Аксентий Поприщин</li>
          <li class="list-group-item">Робинзон Крузо</li>
          <li class="list-group-item">Чарли Гордон</li>
          <li class="list-group-item">Владимир Высоцкий</li>
        </ul>
      </aside>
      <!-- Конец левой колонки сайта -->

      <!-- Начало правой (широкой) колонки сайта -->
      <section class="col-12 col-md-9 ">

        <!-- Можно разбить на колонки содержимое любого блока.
         В этом div.row созданы четыре колонки с анонсами постов -->
        <div class="row row-cols-3 g-3">

          <!-- Начало первой колонки -->
          <article class="col-6">
            <div class="card">
              <h5 class="card-header text-center">Аксентий Поприщин</h5>
              <div class="card-body">
                <h6 class="card-subtitle">Число 25</h6>
                <p>
                  Сегодня великий инквизитор пришел в мою комнату, но я,
                  услышавши еще издали шаги его, спрятался под стул.
                </p>
                <a href="" class="btn btn-primary">Читать целиком</a>
              </div>
            </div>
          </article>
          <!-- Конец первой колонки -->

          <!-- Начало второй колонки -->
          <article class="col-6">
            <div class="card">
              <h5 class="card-header text-center">Робинзон Крузо</h5>
              <div class="card-body">
                <h6 class="card-subtitle">25 октября 1659 года</h6>
                <p>
                  Шквальный ветер сотрясал остров целую ночь,
                  а наутро я увидел, что наш корабль разнесло в щепки.
                </p>
                <a href="" class="btn btn-primary">Читать целиком</a>
              </div>
            </div>
          </article>
          <!-- Конец второй колонки -->

          <!-- Начало третьей колонки -->
          <article class="col-6">
            <div class="card">
              <h5 class=" card-header text-center">Чарли Гордон</h5>
              <div class="card-body">
                <h6 class="card-subtitle">1 атчет 3 марта</h6>
                <p>
                  Док Штраус сказал што я должен писать все што я думаю и
                  помню и все што случаеца со мной с севодня. Я не знаю
                  пачему но он гаварит што это важно штобы они могли
                  увидить што я падхажу им.
                </p>
                <a href="" class="btn btn-primary">Читать целиком</a>
              </div>
            </div>
          </article>
          <!-- Конец третьей колонки -->

          <!-- Начало четвёртой колонки -->
          <article class="col-6">
            <div class="card">
              <h5 class=" card-header text-center">Владимир Высоцкий</h5>
              <div class="card-body">
                <h6 class="card-subtitle">3 апреля 1976 года</h6>
                <p>
                  Если б Кащенко, к примеру, лёг лечиться к Пирогову -
                  Пирогов бы без причины резать Кащенку не стал…
                </p>
                <a href="" class="btn btn-primary">Читать целиком</a>
              </div>
            </div>
          </article>
          <!-- Конец четвёртой колонки -->
        </div>  <!-- Конец вложенного div.row -->

      </section>  <!-- Конец правой (широкой) колонки сайта -->
    </div>  <!-- Конец div.row  -->
  </div>  <!-- Конец div.container -->
</body>
</html>