{% extends "base.html" %}
{% block title %}Добавить консоль{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">
      <div class="card-header">
        Добавить консоль
      </div>
      <div class="card-body">
        {% include 'includes/check_error.html' %}
        <form method="post" action="{% url 'core:signup' %}">
          {% csrf_token %}
          {% include 'includes/cycle_forms.html' %}
          <div class="col-md-6 offset-md-4">
            <button type="submit" class="btn btn-primary">
              Добавить
            </button>
          </div>
        </form>
      </div>
    </div>
</div>
{% endblock %}
