{% extends 'base.html' %}
{% block title %}product-detail{% endblock title %}
{% load static %}
{% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="page-title">
                    <h2 class="text-dark fw-light lh-base mt-5">360 Smart 720p CCTV MP <span
                            class="fw-medium title">Digital Camera</span></h2>
                    <p class="fs-16 text-muted mb-0">Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
                        consequat ipsum, nec sagittis sem nibh id elit. Proin gravida nibh vel velit auctor Aenean
                        sollicitudin, adipisicing elit sed lorem quis bibendum auctor.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sm-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-5 mt-4">
                        <div class="position-relative">
                            <div class="item-box">
                                <a class="image-popup item-img-wrap" href="{% static 'images/products/pro-1.jpg' %}">
                                    <img class="item-container img-fluid rounded" src="{% static 'images/products/pro-1.jpg' %}"
                                        alt="1">
                                </a>
                            </div>
                            <span
                                class="text-dark badge bg-light rounded-3 fs-14 fw-bold position-absolute top-0 start-0 mt-2 ms-2 py-2">-18%</span>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 mt-4">
                                <div class="item-box">
                                    <a class="image-popup item-img-wrap" href="{% static 'images/products/pro-5.jpg' %}">
                                        <img class="item-container img-fluid rounded"
                                            src="{% static 'images/products/pro-5.jpg' %}" alt="1">
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-4 mt-4">
                                <div class="item-box">
                                    <a class="image-popup item-img-wrap" href="{% static 'images/products/pro-3.jpg' %}">
                                        <img class="item-container img-fluid rounded"
                                            src="{% static 'images/products/pro-3.jpg' %}" alt="1">
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-4 mt-4">
                                <div class="item-box">
                                    <a class="image-popup item-img-wrap" href="{% static 'images/products/pro-4.jpg' %}">
                                        <img class="item-container img-fluid rounded"
                                            src="{% static 'images/products/pro-4.jpg' %}" alt="1">
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-7 mt-4">
                        <div class="pro-detail-content">
                            <div class="price my-3">
                                <ins class="pe-2 fs-18 text-success fw-semibold text-decoration-none">$209.00</ins>
                                <del class="text-muted fs-18">$230.00</del>
                            </div>

                            <p class="text-muted fs-16 my-3">
                                The full monty brilliant young delinquent burke naff baking cakes the wireless
                                argy-bargy smashing, squiffy chimney pot I he nicked it twit brolly spend a penny he
                                legged it.
                            </p>
                            <div class="rating my-3">
                                <i class="mdi mdi-star fs-20 text-warning d-inline-block"></i>
                                <h5 class="d-inline-block fs-16 mb-0">5.0</h5>
                            </div>

                            <div class="details mb-4">
                                <ul class="list-unstyled">
                                    <li class="text-muted py-1"><i data-feather="arrow-right"
                                            class="icon-xxs me-2"></i> Generally delivered in 7 - 11 days</li>
                                    <li class="text-muted py-1"><i data-feather="arrow-right"
                                            class="icon-xxs me-2"></i> Warranty Period (in years):1</li>
                                    <li class="text-muted py-1"><i data-feather="arrow-right"
                                            class="icon-xxs me-2"></i> Number of Focus Points:3</li>
                                    <li class="text-muted py-1"><i data-feather="arrow-right"
                                            class="icon-xxs me-2"></i> 7 Days Replacement</li>
                                </ul>
                                <ul class="list-unstyled list-inline"></ul>
                            </div>
                            <div class="qty mb-4">
                                <h6 class="d-inline-block fw-semibold">Select Items :</h6>
                                <select class="form-select border d-inline-block ms-4 w-25" id="autoSizingSelect">
                                    <option selected="">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                            <div class="color mb-4">
                                <h6 class="d-inline-block fw-semibold">Color :</h6>
                                <ul class="d-inline-block list-unstyled list-inline align-middle ms-3 mb-0">
                                    <li class="list-inline-item me-0">
                                        <a href="javascript:void(0)"><i
                                                class="mdi mdi-invert-colors fs-5 text-success"></i></a>
                                    </li>
                                    <li class="list-inline-item me-0">
                                        <a href="javascript:void(0)"><i
                                                class="mdi mdi-invert-colors fs-5 text-primary"></i></a>
                                    </li>
                                    <li class="list-inline-item me-0">
                                        <a href="javascript:void(0)"><i
                                                class="mdi mdi-invert-colors fs-5 text-danger"></i></a>
                                    </li>
                                    <li class="list-inline-item me-0">
                                        <a href="javascript:void(0)"><i
                                                class="mdi mdi-invert-colors fs-5 text-warning"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="javascript:void(0)"><i
                                                class="mdi mdi-invert-colors fs-5 text-dark"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="availability d-flex mb-4">
                                <h6 class="fw-semibold">Availability :</h6>
                                <p class="text-muted fs-15 ms-4">In Stock</p>
                            </div>
                            <div class="hover-content">
                                <a href="cart.html" class="btn btn-primary me-2 my-2"> <i
                                        data-feather="shopping-cart" class="icon-xs me-2"></i> Add To Cart</a>
                                <a href="cart.html" class="btn btn-secondary my-2"> <i data-feather="heart"
                                        class="icon-xs me-2"></i> Wishlist</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="pro-detail-area">
                    <div class="nav nav-tabs border-bottom detail-title" id="nav-tab" role="tablist">
                        <a class="nav-link border-0 active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home"
                            role="tab" aria-controls="nav-home" aria-selected="true">Description</a>
                        <a class="nav-link border-0" id="nav-profile-tab" data-bs-toggle="tab" href="#nav-profile"
                            role="tab" aria-controls="nav-profile" aria-selected="false">Reviews</a>
                    </div>
                </nav>
                <div class="tab-content py-4" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                        aria-labelledby="nav-home-tab">
                        <p class="text-muted fs-16">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis orci ac
                            odio dictum tincidunt. Donec ut metus leo. Class aptent taciti sociosqu ad litora
                            torquent per conubia nostra, per
                            inceptos himenaeos. Sed luctus, dui eu sagittis sodales, nulla nibh sagittis augue, vel
                            porttitor diam enim non metus. Vestibulum aliquam augue neque. Phasellus tincidunt odio
                            eget ullamcorper efficitur.
                            Cras placerat ut turpis pellentesque vulputate. Nam sed consequat tortor. Curabitur
                            finibus sapien dolor. Ut eleifend tellus nec erat pulvinar dignissim. Nam non arcu
                            purus. Vivamus et massa massa. <br />
                            The full monty brilliant young delinquent burke naff baking cakes the wireless
                            argy-bargy smashing, squiffy chimney pot I he nicked it twit brolly spend a penny he
                            legged it, cup of tea is ruddy grub.!
                        </p>

                        <div class="row text-muted">
                            <div class="col-md-6">
                                <ul class="list-unstyled">
                                    <li class="py-1"><i class="mdi mdi-circle-medium text-primary"></i> Claritas est
                                        etiam processus dynamicus.</li>
                                    <li class="py-1"><i class="mdi mdi-circle-medium text-primary"></i> Mirum est
                                        notare quam littera.</li>
                                    <li class="py-1"><i class="mdi mdi-circle-medium text-primary"></i> Nam liber
                                        tempor cum soluta nobis eleifend.</li>
                                    <li class="py-1"><i class="mdi mdi-circle-medium text-primary"></i> Duis autem
                                        vel eum iriure dolor.</li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-unstyled">
                                    <li class="py-1"><i class="mdi mdi-circle-medium text-primary"></i> Claritas est
                                        etiam processus dynamicus.</li>
                                    <li class="py-1"><i class="mdi mdi-circle-medium text-primary"></i> Mirum est
                                        notare quam littera.</li>
                                    <li class="py-1"><i class="mdi mdi-circle-medium text-primary"></i> Nam liber
                                        tempor cum soluta nobis eleifend.</li>
                                    <li class="py-1"><i class="mdi mdi-circle-medium text-primary"></i> Duis autem
                                        vel eum iriure dolor.</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <h6 class="lh-base fw-medium">5 Ratings & 2 Review</h6>
                        <ul class="list-unstyled my-4">
                            <li class="list-inline d-flex py-3">
                                <div>
                                    <a href="javascript:void(0)">
                                        <img class="rounded-circle img-thumbnail" src="{% static 'images/clients/client-1.jpg' %}"
                                            alt="" />
                                    </a>
                                </div>
                                <div class="ps-4">
                                    <h6 class="d-inline-block fs-16 mb-0">John Barrows</h6>
                                    <div class="rating d-inline-block ps-sm-4">
                                        <i class="mdi mdi-star fs-16 text-warning d-inline-block"></i>
                                        <h5 class="d-inline-block fs-16">5.0</h5>
                                    </div>
                                    <p class="text-muted">24th January, 2021</p>
                                    <p class="text-muted fs-16">
                                        Animi tempora pellentesque, tristique gravida dui, deleniti quod repellendus
                                        voluptatum, aptent adipisci young delinquent burke naff baking cakes the
                                        wireless argy-bargy smashpend a penny he
                                        legged it.
                                    </p>
                                </div>
                            </li>
                            <li class="list-inline d-flex py-3">
                                <div>
                                    <a href="javascript:void(0)">
                                        <img class="rounded-circle img-thumbnail" src="{% static 'images/clients/client-2.jpg' %}"
                                            alt="" />
                                    </a>
                                </div>
                                <div class="ps-4">
                                    <h6 class="d-inline-block fs-16 mb-0">James Marks</h6>
                                    <div class="rating d-inline-block ps-sm-4">
                                        <i class="mdi mdi-star fs-16 text-warning d-inline-block"></i>
                                        <h5 class="d-inline-block fs-16">4.9</h5>
                                    </div>
                                    <p class="text-muted">2nd January, 2021</p>
                                    <p class="text-muted fs-16">
                                        Animi tempora pellentesque, tristique gravida dui, deleniti quod repellendus
                                        voluptatum, aptent adipisci young delinquent burke naff baking cakes the
                                        wireless argy-bargy smashpend a penny he
                                        legged it.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end nav -->
                <div>
                    <h6 class="lh-base fw-semibold mt-4 mb-3">Add Your Review</h6>
                    <form method="post">
                        <div class="row g-4 mb-2">
                            <div class="col-lg-6">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" placeholder="Your name" />
                                    <label class="text-muted">Your name</label>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" placeholder="Your email" />
                                    <label class="text-muted">Email address</label>
                                </div>
                            </div>
                        </div>
                        <div class="row g-4 mb-2">
                            <div class="col-lg-12">
                                <div class="form-floating mb-3">
                                    <textarea class="form-control" placeholder="Your Message...."
                                        style="height: 100px;"></textarea>
                                    <label class="text-muted">Your Review</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <ul class="list-unstyled list-inline mb-0">
                                <li class="fw-semibold text-muted list-inline-item lh-lg">Add Your Review :</li>
                                <li class="list-inline-item me-0">
                                    <i class="mdi mdi-star fs-17 text-warning"></i>
                                </li>
                                <li class="list-inline-item me-0">
                                    <i class="mdi mdi-star fs-17 text-warning"></i>
                                </li>
                                <li class="list-inline-item me-0">
                                    <i class="mdi mdi-star fs-17 text-warning"></i>
                                </li>
                                <li class="list-inline-item me-0">
                                    <i class="mdi mdi-star fs-17 text-warning"></i>
                                </li>
                                <li class="list-inline-item me-0">
                                    <i class="mdi mdi-star-half-full fs-17 text-warning"></i>
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 mt-3">
                                <a href="javascript:void(0)" class="btn btn-primary">Send Review <i class="icon-xs"
                                        data-feather="arrow-right"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
</section>

{% include 'core/includes/trust_us.html' %}
{% endblock content %}